<section class="row">
    <div class="col-md-10">
        <h1>Alerts/Callouts</h1>

        <h3 class="sh">"Spot" alerts</h3>
        <p>Use inline on page where important info needs to be shown to user.</p>
        <h4>Danger</h4>
        <div class="alert alert-danger">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>

        <h4>Warning</h4>
        <div class="alert alert-warning">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>

        <h4>Success</h4>
        <div class="alert alert-success">
            <strong>Excellent!</strong> You've finished the process.
        </div>

        <h4>Info</h4>
        <div class="alert alert-info">
            <strong>Note:</strong> There are many help resources available.
        </div>

        <h3 class="sh">Alert with Link</h3>
        <div class="alert alert-info">
            <strong>Note:</strong> There are many help resources available. <a href="#" class="alert-link">Click here!</a>
        </div>

        <h3 class="sh">Dismissable Alert</h3>

        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            If you don't want to be nagged, click the close box.
        </div>
    </div>
</section>


<section class="row">
    <div class="col-md-10">
        <h3 class="sh">Transitory alert</h3>
        <span ng-model="transitoryAlert" pb-transitory-alert>
        <button class="btn btn-primary btn-lg"
            ng-click="setMessage()">Click Me</button>
        </span>
    </div>
</section>


<section class="row">
    <div class="col-md-10">
        <h3 class="sh">Dialogs</h3>


        <!-- Buttons to trigger modals -->
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-01">Simplest dialog box</button>&nbsp;
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-02">Modal dialog</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-03">Prompt</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-04">Draggable modal</button>

    </div>
</section>



<section class="row">
    <div class="col-md-10">
        <h3 class="sh">Blockquote</h3>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>

        <h3 class="sh">Callouts</h3>

        <h4>Danger</h4>
        <div class="callout callout-danger">
            <h4>Sample Callout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
        </div>

        <h4>Warning</h4>
        <div class="callout callout-warning">
            <h4>Sample Callout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
        </div>

        <h4>Success</h4>
        <div class="callout callout-success">
            <h4>Sample Callout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
        </div>

        <h4>Info</h4>
        <div class="callout callout-info">
            <h4>Sample Callout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
        </div>

    </div>
</section>

<section class="row">
    <div class="col-md-10">
        <h3 class="sh">Contextual Color Backgrounds</h3>
        <p class="bg-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, sapiente!</p>
        <p class="bg-danger">Dolores assumenda vero tempore a deleniti perferendis veniam ipsa.</p>
        <p class="bg-warning">Dolores assumenda vero tempore a deleniti perferendis veniam ipsa.</p>
        <p class="bg-success">Sequi asperiores quia est, tempora recusandae, deleniti laboriosam molestiae.</p>
        <p class="bg-info">Delectus rerum earum dolorem unde. Explicabo dolorum distinctio vel!</p>
    </div>
</section>


<section class="row">
    <div class="col-md-10">
        <h3 class="sh">Badges</h3>
        <span class="badge">badge</span>
        <span class="badge badge-gray">gray</span>
        <span class="badge badge-gray-text">gray-text</span>
        <span class="badge badge-gray-dark">gray-dark</span>
        <span class="badge badge-brand-danger">brand-danger</span>
        <span class="badge badge-brand-warning">brand-warning</span>
        <span class="badge badge-brand-success">brand-success</span>
        <span class="badge badge-brand-info">brand-info</span>
    </div>
</section>


<!-- MODAL 01 -->
<div id="modal-01" class="modal fade">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Simple dialog box</h4>
      </div>

      <div class="modal-body">
        For basic information. Can be closed with close X, ESC key, or clicking on background.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>

    </div>

  </div>
</div>



<!-- MODAL 02 -->
<div id="modal-02" class="modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal dialog</h4>
      </div>

      <div class="modal-body">
        Modal, can only be closed by button or close box.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>

    </div>

  </div>
</div>



<!-- MODAL 03 -->
<div id="modal-03" class="modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Name required</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Please enter your name:</label>
          <input type="text" name="fullname" id="fullname" class="form-control">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>

    </div>

  </div>
</div>



<!-- MODAL 04 -->
<div id="modal-04" class="modal fade" pb-modal-draggable>
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Movable dialog</h4>
      </div>

      <div class="modal-body">
        Drag on dialog title to move your dialog if it is obscuring something.
      </div>

    </div>

  </div>
</div>
