<div class="row">
  <div class="col-md-8">
    <h1>Alerts/Callouts</h1>

    <h4>Danger </h4>
    <div class="alert alert-danger">
       <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <h4>Warning </h4>
    <div class="alert alert-warning">
       <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>

    <h4>Success </h4>
    <div class="alert alert-success">
       <strong>Excellent!</strong> You've finished the process.
    </div>

    <h4>Info</h4>
    <div class="alert alert-info">
       <strong>Note:</strong> There are many help resources available.
    </div>



    <h3 class="sh">Dismissable Alert</h3>

    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      If you don't want to be nagged, click the close box.
    </div>
    </div>
  </div>


<!-- <div class="row">
  <div class="col-md-8">
  <h3 class="sh">Modal Alert</h3>
    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="sh">I'm a modal!</h3>
            </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque rem tempore illum quia ab illo facere ut alias accusamus officiis!</p>

                <div class="bs-callout">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, numquam, itaque libero dolorum provident iusto possimus veritatis ullam mollitia veniam quae quia inventore perspiciatis id fugit commodi molestias amet laboriosam.
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Primary Button</button>
                <button class="btn btn-default" ng-click="ok()">Default Button</button>
                <button class="btn btn-link" ng-click="cancel()">Link Button</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
    </div>
  </div>
</div> -->



<div class="row">
  <div class="col-md-8">
    <h3 class="sh">Blockquote</h3>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>

    <h3 class="sh">Callouts</h3>

    <h4>Danger</h4>
    <div class="bs-callout bs-callout-danger">
        <h4>Sample Callout</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
    </div>

    <h4>Warning</h4>
    <div class="bs-callout bs-callout-warning">
        <h4>Sample Callout</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
    </div>

    <h4>Success</h4>
    <div class="bs-callout bs-callout-success">
        <h4>Sample Callout</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
    </div>



    <h4>Info</h4>
    <div class="bs-callout bs-callout-info">
        <h4>Sample Callout</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quasi, eaque, debitis, voluptatum iure ad corrupti praesentium magnam odit suscipit quam neque consectetur placeat consequatur ducimus sunt? Eaque sequi aperiam atque beatae fugiat aliquid inventore molestiae corrupti deleniti omnis.</p>
      </div>







    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
    <h3 class="sh">Contextual Color Backgrounds</h3>
      <p class="bg-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, sapiente!</p>
      <p class="bg-danger">Dolores assumenda vero tempore a deleniti perferendis veniam, exercitationem ipsa.</p>
      <p class="bg-warning">Dolores assumenda vero tempore a deleniti perferendis veniam, exercitationem ipsa.</p>
      <p class="bg-success">Sequi asperiores quia est, tempora recusandae, deleniti veritatis laboriosam molestiae.</p>
      <p class="bg-info">Delectus rerum earum dolorem unde. Explicabo dolorum praesentium distinctio vel!</p>
    </div>
  </div>


