<h1>Colors</h1>
<div ng-controller="ColorsCtrl">

<section class="row">
<div class="col-md-12">
	<h3 class="section-head">Primary</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-primary"></div><p>Brand Primary<br>#0070C4<br><small>$brand-primary</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray-light"></div><p>Gray Light<br>#F2F2F2<br><small>$gray-light</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray"></div><p>Gray<br>#E1E1E1<br><small>$gray</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray-text"></div><p>Gray Text<br>#59595B<br><small>$gray-text</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray-dark"></div><p>Gray Dark<br>#323232<br><small>$gray-dark</small></p></div>
		</div>

	<h3 class="section-head">Secondary</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray-disabled"></div><p>Gray Disabled<br>#BFBFBF<br><small>$gray-disabled</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-primary"></div><p>Links<br>#0070C4<br><small>$link-color</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch link-hover"></div><p>Links Hover<br>#00487F<br><small>$link-color-hover</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch link-disabled"></div><p>Links Disabled<br>#AFD2EC<br><small>$link-color-disabled</small></p></div>
		</div>

	<h3 class="section-head">Functional Colors</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-danger"></div><p>Error<br>#CC0000<br><small>$brand-danger</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch alert-danger"></div><p>#FAE6E6/<br>#F5CCCC<br><small>$alert-danger-bg/<br>$alert-danger-border</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-warning"></div><p>Warning<br>#826000<br><small>$brand-warning</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch alert-warning"></div><p>#FCF8E3/<br>#FAEBCC<br><small>$alert-warning-bg/<br>$alert-warning-border</small></p></div>

		</div>

		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-success"></div><p>Success<br>#007D00<br><small>$brand-success</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch alert-success"></div><p>#E5F2E5/<br>#BFDEBF<br><small>$alert-success-bg/<br>$alert-success-border</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch brand-info"></div><p>Info<br>#0070C4<br><small>$brand-info</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch alert-info"></div><p>#BFDBF0/<br>#99C6E7<br><small>$alert-info-bg/<br>$alert-info-border</small></p></div>
		</div>


	<h3 class="section-head">Chart Colors</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-green"></div><p>#00CB74<br><small>$chart-green</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-blue"></div><p>#3366FF<br><small>$chart-blue</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-purple"></div><p>#8106A9<br><small>$chart-purple</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-yellow"></div><p>#FFCC00<br><small>$chart-yellow</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-orange"></div><p>#FF9200<br><small>$chart-orange</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch chart-red"></div><p>#FF4900<br><small>$chart-red</small></p></div>
		</div>

	<h3 class="section-head">Blue Tints</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue1"></div><p>#3322AA<br><small>$blue1</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue2"></div><p>#3344CC<br><small>$blue2</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue3"></div><p>#3366FF<br><small>$blue3</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue4"></div><p>#668CFF<br><small>$blue4</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue5"></div><p>#99B2FF<br><small>$blue5</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch blue6"></div><p>#CCD9FF<br><small>$blue6</small></p></div>
		</div>

	<h3 class="section-head">Gray Tints</h3>
		<div class="row color-swatches">
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray1"></div><p>#323232<br><small>$gray1</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray2"></div><p>#474748<br><small>$gray2</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray3"></div><p>#59595B<br><small>$gray3</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray4"></div><p>#838384<br><small>$gray4</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray5"></div><p>#ACACAD<br><small>$gray5</small></p></div>
			<div class="col-md-2 col-xs-12"><div class="color-swatch gray6"></div><p>#D5D5D6<br><small>$gray6</small></p></div>
		</div>

</div>
</section>

<section class="row">
	<h3 class="sh">Color Usage</h3>

	<section class="row">

		<div class="col-xs-12 col-md-12 col-lg-6">

			<div class="color-chart-nested">
				<div dataset="colorCharts.grayscale.donut.data" options="colorCharts.grayscale.donut.options" width="250px" height="250px" flot></div>
				<div class="pie" dataset="colorCharts.grayscale.pie.data" options="colorCharts.grayscale.pie.options" width="80px" height="80px" flot></div>
			</div>

			<ul class="list-unstyled color-blocks">
				<li><span class="gray1"></span> #323232</li>
				<li><span class="gray2"></span> #474748</li>
				<li><span class="gray3"></span> #59595B</li>
				<li><span class="gray4"></span> #838384</li>
				<li><span class="gray5"></span> #ACACAD</li>
				<li><span class="gray6"></span> #D5D5D6</li>
			</ul>

		</div>

		<div class="col-xs-12 col-md-12 col-lg-6">

			<div class="color-chart-nested">
				<div dataset="colorCharts.blue.donut.data" options="colorCharts.blue.donut.options" width="250px" height="250px" flot></div>

				<div class="pie" dataset="colorCharts.blue.pie.data" options="colorCharts.blue.pie.options" width="80px" height="80px" flot></div>
			</div>

			<ul class="list-unstyled color-blocks">
				<li><span class="blue1"></span> #3322AA</li>
				<li><span class="blue2"></span> #3344CC</li>
				<li><span class="blue3"></span> #3366FF</li>
				<li><span class="blue4"></span> #668CFF</li>
				<li><span class="blue5"></span> #99B2FF</li>
				<li><span class="blue6"></span> #CCD9FF</li>
			</ul>

		</div>

	</section>

	<section class="row">
		<div class="col-md-6 text-center">
			<div class="chart" jq-sparkline ng-model="sparkline" data="colorCharts.grayscale.bar.data" options="colorCharts.grayscale.bar.options" ></div>
		</div>

		<div class="col-md-6 text-center">
			<div class="chart" jq-sparkline ng-model="sparkline" data="colorCharts.blue.bar.data" options="colorCharts.blue.bar.options" ></div>
		</div>
	</section>


		<section class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<div dataset="donutsVaried.donut01.data" options="donutsVaried.donut01.options" width="140px" height="140px" flot></div>
					</div>
					<div class="col-md-4 col-xs-4">
						<div dataset="donutsVaried.donut02.data" options="donutsVaried.donut02.options" width="140px" height="140px" flot></div>
					</div>
					<div class="col-md-4 col-xs-4">
						<div dataset="donutsVaried.donut03.data" options="donutsVaried.donut03.options" width="140px" height="140px" flot></div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<div class="piechart text-center" ng-model="radial_01">
							<div easypiechart options="radial_01.options" percent="radial_01.percent"></div>
							<span>{{radial_01.percent}}%</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-4">
						<div class="piechart tetext-center" ng-model="radial_02">
							<div easypiechart options="radial_02.options" percent="radial_02.percent"></div>
							<span>{{radial_02.percent}}%</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-4">
						<div class="piechart tetext-center" ng-model="radial_03">
							<div easypiechart options="radial_03.options" percent="radial_03.percent"></div>
							<span>{{radial_03.percent}}%</span>
						</div>
					</div>
				</div>
			</div>


		</section>


		<section class="row">
			<div class="col-md-6 text-center">
				<p>Color Order 2: Success Rate</p>
				<div class="color-swatches ">
						<span class="color-swatch color-swatch-small chart-green"></span>
						<span class="color-swatch color-swatch-small chart-blue"></span>
						<span class="color-swatch color-swatch-small chart-purple"></span>
						<span class="color-swatch color-swatch-small chart-yellow"></span>
						<span class="color-swatch color-swatch-small chart-orange"></span>
						<span class="color-swatch color-swatch-small chart-red"></span>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<p>Color Order 2: Bar Graph</p>
				<div class="chart" data="bar_chart_01.data" options="bar_chart_01.options" jq-sparkline></div>
			</div>
		</section>








		<section class="row">
			<div class="col-md-6 text-center">
					<p>Color Order 2: Percentage Charts</p>
					<section class="row">
						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_01">
								<div easypiechart options="percentage_01.options" percent="percentage_01.percent"></div>
								<span>{{percentage_01.percent}}%</span>
							</div>
						</div>

						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_02">
								<div easypiechart options="percentage_02.options" percent="percentage_02.percent"></div>
								<span>{{percentage_02.percent}}%</span>
							</div>
						</div>

						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_03">
								<div easypiechart options="percentage_03.options" percent="percentage_03.percent"></div>
								<span>{{percentage_03.percent}}%</span>
							</div>
						</div>
					</section>


					<section class="row">
						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_04">
								<div easypiechart options="percentage_04.options" percent="percentage_04.percent"></div>
								<span>{{percentage_04.percent}}%</span>
							</div>
						</div>

						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_05">
								<div easypiechart options="percentage_05.options" percent="percentage_05.percent"></div>
								<span>{{percentage_05.percent}}%</span>
							</div>
						</div>

						<div class="col-md-4 col-xs-4 text-center">
							<div class="piechart" ng-model="percentage_06">
								<div easypiechart options="percentage_06.options" percent="percentage_06.percent"></div>
								<span>{{percentage_06.percent}}%</span>
							</div>
						</div>
					</section>


					<section class="row">
						<div class="col-md-6 col-xs-6 text-center">
							<p>Color Order 1:<br>Donut Chart</p>
							<div class="donut" dataset="donut_chart.data" options="donut_chart.options" width="100px" height="100px" flot></div>
						</div>

						<div class="col-md-6 col-xs-6 text-center">
							<p>Color Order 2:<br>Pie Chart</p>
							<div class="pie" dataset="pie_chart.data" options="pie_chart.options" width="100px" height="100px" flot></div>
						</div>
					</section>

			</div>



			<div class="col-md-6">

				<div class="row">
					<div class="col-md-6 col-xs-6 text-center">
            <p>Every Other 1</p>
						<div class="pie" dataset="tri_pie_01.data" options="tri_pie_01.options" width="100px" height="100px" flot></div>
					</div>

					<div class="col-md-6 col-xs-6 text-center">
            <p>Every Other 2</p>
						<div class="pie" dataset="tri_pie_02.data" options="tri_pie_02.options" width="100px" height="100px" flot></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-6 text-center">
            <p>First Three</p>
						<div class="pie" dataset="tri_pie_03.data" options="tri_pie_03.options" width="100px" height="100px" flot></div>
					</div>

					<div class="col-md-6 col-xs-6 text-center">
            <p>Last Three</p>
						<div class="pie" dataset="tri_pie_04.data" options="tri_pie_04.options" width="100px" height="100px" flot></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-6 text-center">
            <p>Traffic Light</p>
						<div class="pie" dataset="tri_pie_05.data" options="tri_pie_05.options" width="100px" height="100px" flot></div>
					</div>

					<div class="col-md-6 col-xs-6 text-center">
            <p>Monochrome</p>
						<div class="pie" dataset="tri_pie_06.data" options="tri_pie_06.options" width="100px" height="100px" flot></div>
					</div>
				</div>

			</div>
		</section>




	</section>




</section>

</div>
