<h1>Inputs</h1>

<div class="row">
    <div class="col-md-6">
        <!-- left col -->

        <div class="row">
            <div class="col-md-12">
            	<div class="form-group">
            	    <label>Text input</label>
            	    <input class="form-control" type="text" name="text1" placeholder="Placeholder text in supported browsers" />
            	</div>

            	<div class="form-group">
            	    <label>Text input disabled</label>
            	    <input class="form-control" type="text" name="text1" disabled="disabled" />
            	</div>

            	<div class="form-group has-error">
            	    <label>Text field with error</label>
            	    <input class="form-control" placeholder="Text field" type="text">
            	    <span class="help-block text-error">Please enter a valid name.</span>
            	</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Text input</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Text input</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Text input</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-12">
        		<div class="form-group">
        		    <label>Textarea</label>
        		    <textarea class="form-control" type="textarea" name="textarea1" placeholder="Placeholder text in supported browsers"></textarea>
        		    <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        		</div>

        	</div>
        </div>


        <fieldset>
            <legend>Date Picker</legend>

            <div class="row">
                    <div class="form-group col-md-8">
                        <label for="">Date</label>
                        <input class="form-control datepicker" placeholder="Choose a date" id="date1" type="text">
                    </div>
            </div>

        </fieldset>


        <fieldset>
        	<legend>Specialized text fields</legend>

        <div class="row">
        	    <div class="form-group col-md-6">
        	        <label for="">Text field prepended</label>
        	        <div class="input-group">
        	            <span class="input-group-addon">
        	                <i class="fa fa-search"></i>
        	            </span>
        	            <input class="form-control" placeholder="Search" type="text">
        	        </div>
        	    </div>
        	    <div class="form-group col-md-6">
        	        <label for="">Text field appended</label>
        	        <div class="input-group">
        	            <input class="form-control" placeholder="User Name" type="text">
        	            <span class="input-group-addon">
        	                <i class="fa fa-user"></i>
        	            </span>
        	        </div>
        	    </div>
        	</div>

        	<div class="row">
        	    <div class="form-group col-md-6">
        	        <label for="">Text field prepended with menu</label>
        	        <div class="input-group">
        	            <div class="input-group-btn">
        	                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
        	                    <span class="caret"></span>
        	                </button>
        	                <ul class="dropdown-menu">
        	                    <li><a href="#">Action</a>
        	                    </li>
        	                    <li><a href="#">Another action</a>
        	                    </li>
        	                    <li><a href="#">Something else here</a>
        	                    </li>
        	                    <li class="divider"></li>
        	                    <li><a href="#">Separated link</a>
        	                    </li>
        	                </ul>
        	            </div>
        	            <!-- /btn-group -->
        	            <input class="form-control" placeholder="Search" type="text">
        	        </div>
        	    </div>
        	    <div class="form-group col-md-6">
        	        <label for="">Text field appended with button</label>
        	        <div class="input-group">
        	            <input class="form-control" placeholder="User Name" type="text">
        	            <span class="input-group-btn">
        	                <button class="btn btn-default">Go</button>
        	            </span>
        	        </div>
        	    </div>
        	</div>

        	<div class="row">
        	    <div class="col-lg-6">
        	        <label for="cbprepend">Checkbox</label>
        	        <div class="input-group">
        	            <span class="input-group-addon">
        	                <input type="checkbox" name="cbprepend">
        	            </span>
        	            <input type="text" class="form-control">
        	        </div>
        	        <!-- /input-group -->
        	    </div>
        	    <!-- /.col-lg-6 -->
        	    <div class="col-lg-6">
        	        <label for="c=rbprepend">Radio</label>
        	        <div class="input-group">
        	            <span class="input-group-addon">
        	                <input type="radio" name="rbprepend">
        	            </span>
        	            <input type="text" class="form-control">
        	        </div>
        	        <!-- /input-group -->
        	    </div>
        	    <!-- /.col-lg-6 -->
        	</div>
        	<!-- /.row --></fieldset>



        <fieldset>
            <legend>Input field sizes</legend>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Large">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Standard">
            </div>
            <br>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Small">
            </div>

        </fieldset>






<!--         <fieldset>
            <legend>HTML5 fields (in supported browsers)</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="searchfield">Date</label>
                    <input type="date" class="form-control" name="datefield" id="datefield">
                </div>
                <div class="form-group col-md-6">
                    <label for="searchfield">Date and Time</label>
                    <input type="datetime-local" class="form-control" name="searchfield" id="searchfield">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="timefield">Time</label>
                    <input type="time" min="1" max="10" class="form-control" name="timefield" id="timefield">
                </div>
                <div class="form-group col-md-6">
                    <label for="weekfield">Week</label>
                    <input type="week" class="form-control" name="weekfield" id="weekfield">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="numfield">Number</label>
                    <input type="number" min="1" max="10" class="form-control" name="numfield" id="numfield">
                </div>
                <div class="form-group col-md-6">
                    <label for="emailfield">Email</label>
                    <input type="email" class="form-control" name="emailfield" id="emailfield">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rangefield">Range</label>
                    <input type="range" min="1" max="10" class="form-control" name="rangefield" id="rangefield">
                </div>
                <div class="form-group col-md-6">
                    <label for="colorfield">Color</label>
                    <input type="color" class="form-control" name="colorfield" id="colorfield" value="#ff0000">
                </div>
            </div>
        </fieldset>
 -->

    </div>
    <!-- end left col -->




    <div class="col-md-6">
        <!-- right column -->

        <div class="row">
            <div class="form-group col-md-6">
                <label>Select</label>
                <select class="form-control">
                    <option value="">Please select...</option>
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Select (disabled)</label>
                <select class="form-control" disabled="disabled">
                    <option value="">Please select...</option>
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                 <label>Select, large</label>
                <select class="form-control input-lg">
                    <option value="">Please select...</option>
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Select, small</label>
                <select class="form-control input-sm">
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
        </div>

        <hr>



        <div class="row">
            <div class="form-group col-md-6">
                <label>Multiple select</label>
                <select multiple class="form-control">
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Multiple select (disabled)</label>
                <select multiple class="form-control" disabled="disabled">
                    <option value="0">Option 1</option>
                    <option value="0">Option 2</option>
                    <option value="0">Option 3</option>
                    <option value="0">Option 4</option>
                    <option value="0">Option 5</option>
                    <option value="0">Option 6</option>
                    <option value="0">Option 7</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                 <label>Multiple select with checkboxes</label>
                <div class="checkboxList form-control">
                    <div ng-repeat="person in peopleData">
                        <label>
                            <input type="checkbox" ng-model="person.isChecked">&nbsp;<span>{{person.firstName}} {{person.lastName}}</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>



        <fieldset>
            <legend data-toggle="collapse" data-target="#checkboxes" class="data-toggle" collapse>Checkboxes</legend>
            <div class="row">
                <div id="checkboxes" class="panel-collapse collapse">
                    <!-- add class "collapse" to start out closed -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Checkbox default</label>
                                <div class="checkbox">
                                    <input type="checkbox" id="cb1" value="" checked="checked">
                                    <label for="cb1">Lorem ipsum dolor sit amet.</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="cb2" value="">
                                    <label for="cb2">Lorem ipsum dolor sit amet, consectetur adipisicing.</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="cb3" value="">
                                    <label for="cb3">Lorem ipsum dolor sit amet, consectetur.</label>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div>
                                    <label>Checkbox Inline</label>
                                </div>
                                <label for="cb4" class="checkbox-inline">
                                    <input type="checkbox" id="cb4" value="" checked="checked">Lorem</label>
                                <label for="cb5" class="checkbox-inline">
                                    <input type="checkbox" id="cb5" value="">Ipsum</label>
                                <label for="cb6" class="checkbox-inline">
                                    <input type="checkbox" id="cb6" value="">Dolor</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend data-toggle="collapse" data-target="#radios" class="data-toggle" collapse>Radio Buttons</legend>
            <div id="radios" class="panel-collapse collapse">
                <!-- add class "collapse" to start out closed -->
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Radio default</label>
                            <div class="radio">
                                <label for="rb1">
                                    <input type="radio" name="group1" id="rb1" value="">Lorem ipsum dolor sit amet.</label>
                            </div>

                            <div class="radio">
                                <label for="rb2">
                                    <input type="radio" name="group1" id="rb2" value="">Lorem ipsum dolor sit amet, consectetur adipisicing.</label>
                            </div>

                            <div class="radio">
                                <label for="rb3">
                                    <input type="radio" name="group1" id="rb3" value="">Lorem ipsum dolor sit amet, consectetur.</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label>Radio inline</label>
                            </div>
                            <label for="rb4" class="radio-inline">
                                <input type="radio" id="rb4" name="group2" value="">Lorem</label>
                            <label for="rb5" class="radio-inline">
                                <input type="radio" id="rb5" name="group2" value="">Ipsum</label>
                            <label for="rb6" class="radio-inline">
                                <input type="radio" id="rb6" name="group2" value="">Dolor</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Switches</legend>
            <div class="form-group switches row">
                <div class="col-md-3">
                    <div class="switch-large" toggle-switch model="switchStatus1"></div>
                </div>
                <div class="col-md-3">
                    <div class="switch-default" toggle-switch model="switchStatus2"></div>
                </div>
                <div class="col-md-3">
                    <div class="switch-small" toggle-switch model="switchStatus3"></div>
                </div>
                <div class="col-md-3">
                    <div class="switch-mini" toggle-switch model="switchStatus4"></div>
                </div>
            </div>
        </fieldset>




        <div class="row">
        	<div class="form-group col-md-6">
        	    <label for="">Password</label>
        	    <div class="input-group">
        	        <input class="form-control" placeholder="Enter Password" type="password" id="pwd">
        	        <span class="input-group-btn">
        	            <button class="btn btn-default" id="reveal"><span>Show</span></button>
        	        </span>
        	    </div>
        	</div>

        	<div class="form-group col-md-6">
        	    <label>File upload</label>
        	    <input class="form-control" type="file" name="file1">
        	</div>
        </div>

<hr>

        <div class="form-group">
            <label>Submit and cancel buttons</label>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary">&nbsp;
            <input type="reset" class="btn btn-link" value="Cancel">
        </div>

    </div>
</div>


<script>
	$(function() {
	   $('#reveal').on('click', function(event) {
	   	//	event.preventDefault();
	   		if ($('#pwd').attr('type') == 'password') {
				$('#pwd').attr('type', 'text');
				$(this).find('span').text('Hide');
	   		} else {
				$('#pwd').attr('type', 'password');
				$(this).find('span').text('Show');
	   		}
	   });
	 });


      $('.datepicker').pickadate()




</script>