<h1>Popovers</h1>

<section class="row">
    <div class="col-md-8">
        <h3 class="sh">Basic popover</h3>
        <div class="pb-example">
            <button popover="Hello, World!" popover-title="Title" class="btn btn-default ng-scope">Click Me</button>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-md-8">
        <h3 class="sh">Specify position</h3>
        <div class="row">
            <div class="col-md-3">
                <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>
            </div>
            <div class="col-md-3">
                <button popover-placement="left" popover="On the Left!" class="btn btn-default">Left</button>
            </div>
            <div class="col-md-3">
                <button popover-placement="right" popover="On the Right!" class="btn btn-default">Right</button>
            </div>
            <div class="col-md-3">
                <button popover-placement="bottom" popover="On the Bottom!" class="btn btn-default">Bottom</button>
            </div>
        </div>
    </div>
</section>


<section class="row">
    <div class="col-md-8">
        <h3 class="sh">Triggers</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
            </div>
            <div class="col-md-4">
                <input type="text" value="On Focus" popover="I appeared on focus! Click away and I'll vanish..." popover-trigger="focus" class="form-control">
            </div>
        </div>
    </div>
</section>
