/*
#D0E1E7
#71A6B9
#215262
*/
/* Block Grids
   ========================================================================== */
.block-grid-2 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-2 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.block-grid-2 li:nth-of-type( 2n + 1) {
  clear: both;
}
.block-grid-3 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-3 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333333%;
}
.block-grid-3 li:nth-of-type( 3n + 1) {
  clear: both;
}
.block-grid-4 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-4 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
}
.block-grid-4 li:nth-of-type( 4n + 1) {
  clear: both;
}
.block-grid-5 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-5 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
}
.block-grid-5 li:nth-of-type( 5n + 1) {
  clear: both;
}
.block-grid-6 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-6 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66666667%;
}
.block-grid-6 li:nth-of-type( 6n + 1) {
  clear: both;
}
.block-grid-7 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  list-style: none;
}
.block-grid-7 li {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.28571429%;
}
.block-grid-7 li:nth-of-type( 7n + 1) {
  clear: both;
}
/* Block Grids Mixins
   ========================================================================== */
.clearfix,
.block-grid-2,
.block-grid-3,
.block-grid-4,
.block-grid-5,
.block-grid-6,
.block-grid-7 {
  zoom: 1;
}
.clearfix:before,
.clearfix:after,
.block-grid-2:before,
.block-grid-2:after,
.block-grid-3:before,
.block-grid-3:after,
.block-grid-4:before,
.block-grid-4:after,
.block-grid-5:before,
.block-grid-5:after,
.block-grid-6:before,
.block-grid-6:after,
.block-grid-7:before,
.block-grid-7:after {
  content: "";
  display: table;
}
.clearfix:after,
.block-grid-2:after,
.block-grid-3:after,
.block-grid-4:after,
.block-grid-5:after,
.block-grid-6:after,
.block-grid-7:after {
  clear: both;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
h3.section-head,
h3.sh {
  margin: 30px 0 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d5d6;
  clear: both;
}
h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.grid-sample .panel {
  border: none;
  border-top: 3px solid #767676;
  border-radius: 0;
}
.piechart {
  position: relative;
  display: inline-block;
}
.piechart span {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 35%;
}
.sparkline .chart {
  display: inline-block;
  float: left;
}
.sparkline .caption {
  margin-left: 10px;
  float: left;
  display: inline-block;
}
.sparkline h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.sparkline h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.panel.panel-block {
  display: inline-block;
  margin-right: 10px;
}
.panel-block {
  display: inline-block;
  margin-right: 10px;
}
.panel-body.panel-scroll-v {
  overflow-y: scroll;
  padding: 0;
}
.panel-body.panel-scroll-h {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0;
}
.thumbnail.thumbnail-block {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}
.tabbable.scroll {
  x-border: 1px solid red;
}
.tabbable.scroll > .tab-content {
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #dddedf;
  border-top: none;
}
.tabbable.tabScrollSample > .tab-content {
  height: 300px;
}
legend .more-info,
h3 .more-info {
  float: right;
  font-size: 14px;
  line-height: 1;
  margin-top: 10px;
}
.settings {
  position: fixed;
  top: 60px;
  right: 0px;
  width: 35px;
  height: 100px;
  z-index: 2000;
}
.settings.activate {
  width: 185px;
}
.settings.activate .settings-form {
  display: block;
}
.settings .settings-tab {
  float: left;
  width: 35px;
  text: center;
  color: #fff;
  background: #215262;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}
.settings .settings-tab:hover {
  cursor: pointer;
}
.settings .settings-tab:active {
  background: #71A6B9;
}
.settings .settings-form {
  display: none;
  float: right;
  background-color: #215262;
  padding: 0px 10px 10px 15px;
  height: 100px;
  width: 150px;
  color: #fff;
  border-bottom-left-radius: 5px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}
.settings .settings-form label {
  font-size: 12px !important;
}
p[class^="bg"] {
  padding: 10px;
}
/* Color swatches */
.color-swatches {
  zoom: 1;
  margin-bottom: 100px;
  margin-left: 0;
  padding-left: 0;
}
.color-swatches:before,
.color-swatches:after {
  content: "";
  display: table;
}
.color-swatches:after {
  clear: both;
}
.color-swatches .color-swatch {
  width: 110px;
  height: 110px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  position: relative;
}
.color-swatches .color-swatch[class*="alert"] {
  border-right-width: 16px;
  border-right-style: solid;
}
.color-swatches .color-swatch span {
  position: absolute;
  top: 115px;
  font-size: 14px;
  color: #59595b;
}
.glyphicons li {
  text-align: center;
}
.glyphicons li .glyphicon,
.glyphicons li .pbfont {
  font-size: 2em;
}
/* color swatch backgrounds */
.brand-primary {
  background-color: #0070c4;
}
.brand-success {
  background-color: #007d00;
}
.brand-danger {
  background-color: #cc0000;
}
.brand-info {
  background-color: #0070c4;
}
.brand-warning {
  background-color: #826000;
}
.gray-dark {
  background-color: #323232;
}
.gray-text {
  background-color: #59595b;
}
.gray-mid {
  background-color: #767676;
}
.gray-light {
  background-color: #f2f2f2;
}
.gray-disabled {
  background-color: #bcbec0;
}
.link-hover {
  background-color: #00487f;
}
.link-disabled {
  background-color: #afd2ec;
}
.chart-green {
  background-color: #00cb74;
}
.chart-blue {
  background-color: #0070c4;
}
.chart-purple {
  background-color: #8106a9;
}
.chart-yellow {
  background-color: #ffbf00;
}
.chart-orange {
  background-color: #ff9200;
}
.chart-red {
  background-color: #ff4900;
}
.blue1 {
  background-color: #00487f;
}
.blue2 {
  background-color: #185994;
}
.blue3 {
  background-color: #0070c4;
}
.blue4 {
  background-color: #4094d3;
}
.blue5 {
  background-color: #7fb7e1;
}
.blue6 {
  background-color: #bfdbf0;
}
.gray1 {
  background-color: #323232;
}
.gray2 {
  background-color: #474748;
}
.gray3 {
  background-color: #59595b;
}
.gray4 {
  background-color: #838384;
}
.gray5 {
  background-color: #acacad;
}
.gray6 {
  background-color: #d5d5d6;
}
/*# sourceMappingURL=live_preview.css.map */