<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
  <div class="row">
    <div class="col-md-8">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Accordion</li>
      </ol>
      <h1 class="page-header">Accordion</h1>



  <div ng-controller="AccordionDemoCtrl">

      <div class="checkbox">
        <input type="checkbox" ng-model="oneAtATime"> <label class="checkbox">Open only one at a time</label>
      </div>


    <div accordion close-others="oneAtATime">
      <div accordion-group heading="Static Header, initially expanded" is-open="true">
        This content is straight in the template.
      </div>
      <div accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
      </div>
      <div accordion-group heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
          <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
          <div ng-repeat="item in items">{{item}}</div>
      </div>
      <div accordion-group is-open="isopen">
          <div accordion-heading>
              I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
          </div>
          This is just some content to illustrate fancy headings.
      </div>
    </div>
</div>

  </div>
</div>

<div class="row">
  <div class="col-md-8">
  <h1 style="margin-top: 50px;">Tabs</h1>

      <div ng-controller="TabsDemoCtrl">

        <h2 style="margin-top: 20px;">Basic</h2>


        <div tabset>
          <div tab heading="Static title">Static content</div>
          <div tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
          </div>
          <div tab select="alertMe()">
            <div tab-heading>
              <i class="glyphicon glyphicon-bell"></i> Alert!
            </div>
            I've got an HTML heading, and a select callback. Pretty cool!
          </div>
        </div>
        <hr>
        <h4>You can select a tab by setting active binding to true:</h4>
        <p>
          <button class="btn btn-default btn-xs" ng-click="tabs[0].active = true">Select second tab</button>
          <button class="btn btn-default btn-xs" ng-click="tabs[1].active = true">Select third tab</button>
          <button class="btn btn-default btn-xs" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
        </p>

        <h2 style="margin-top: 20px;">Vertical</h2>

        <div tabset vertical="true" type="navType">
          <div tab heading="Vertical 1">Vertical content 1</div>
          <div tab heading="Vertical 2">Vertical content 2</div>
        </div>

        <h2 style="margin-top: 20px;">Justified</h2>

        <div tabset justified="true">
          <div tab heading="Justified">Justified content</div>
          <div tab heading="SJ">Short Labeled Justified content</div>
          <div tab heading="Long Justified">Long Labeled Justified content</div>
        </div>
      </div>
    </div>
  </div>





  </div>
  </div>
</div>