// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  margin-left:  (@gutter / -2);
  margin-right: (@gutter / -2);
  &:extend(.clearfix all);
}
// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}



/* Block Grids
   ========================================================================== */
.block-grid-2 { .block-grid(2); }
.block-grid-3 { .block-grid(3); }
.block-grid-4 { .block-grid(4); }
.block-grid-5 { .block-grid(5); }
.block-grid-6 { .block-grid(6); }
.block-grid-7 { .block-grid(7); }

/* Block Grids Mixins
   ========================================================================== */
.block-grid(@columns) {
  .make-row();
  padding-left: 0;
  li {
    float: left;
    min-height: 1px;
    padding-left: @grid-column-padding;
    padding-right: @grid-column-padding;
    .box-sizing(border-box);
    width: percentage(1 / @columns);
  }
  li:nth-of-type(@{columns}n+1) {
    clear: both;
  }
}