
/* mods to the bootstrap docs file for PB's purposes */

@import "_variables";

// we don't need the code examples right now
.bs-example+.highlight {
	display: none !important;
}

.bs-docs-swatch  {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
}

.color-swatches {
	.brand-primary { background-color: @brand-primary;}
	.brand-success { background-color: @brand-success;}
	.brand-new   { background-color: @brand-new  ;}
	.brand-info   { background-color: @brand-info  ;}
	.brand-warning { background-color: @brand-warning;}
	.brand-danger { background-color: @brand-danger;}

	.gray-darker { background-color: @gray-darker;}
	.gray-dark { background-color: @gray-dark;}
	.gray { background-color: @gray;}
	.gray-light { background-color: @gray-light;}
	.gray-lighter { background-color: @gray-lighter;}
}



