

/*
#D0E1E7
#71A6B9
#215262
*/

// Bootstrap UI (required)
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


.piechart {

  position: relative;
  display: inline-block;

  span {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 35%;
  }
}

.sparkline {
    .chart {
        display: inline-block;
        float: left;
    }

    h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}


.panel {
    &.panel-block {
        display: inline-block;
        margin-right: 10px;
    }
}
.panel-block {
        display: inline-block;
        margin-right: 10px;
    }

.panel-body {
    &.panel-scroll-v {
        overflow-y: scroll;
        padding: 0;
    }
    &.panel-scroll-h {
        overflow-x: scroll;
        white-space: nowrap;
        padding: 0;
    }
}

.thumbnail {
    &.thumbnail-block {
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
    }

}

.tabbable {
    &.scroll {
        x-border: 1px solid red;

        > .tab-content {
            padding: 10px;
            overflow-y: scroll;
            border: 1px solid #dddedf;
            border-top: none;
        }
    }

    &.tabScrollSample > .tab-content {
        height: 300px;
    }
}

.settings {
    position: fixed;
    top: 60px;
    right: 0px;
    width: 35px;
    height: 100px;
    z-index: 2000;

    &.activate {
        width: 185px;

        .settings-form {
            display: block;
        }
    }

    .settings-tab {
      float: left;
      width: 35px;
      text: center;
      color: #fff;
      background: #215262;
      padding: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: 3px 5px 8px rgba(0,0,0,.3);

      &:hover {
        cursor: pointer;
      }

      &:active {
        background: #71A6B9;
      }
    }

    .settings-form {
      display: none;
      float: right;
      background-color: #215262;
      padding: 0px 10px 10px 15px;
      height: 100px;
      width: 150px;
      color: #fff;
      border-bottom-left-radius: 5px;
      box-shadow: 3px 5px 8px rgba(0,0,0,.3);
    }
}