//*/ ----- BREADCRUMBS --------- */

.breadcrumb {
  padding         : 0;
  background-color: transparent;
  margin          : 40px 0 0;
  font-family     : $font-family-sans-serif;
  font-size       : 14px;
  // when a page-header follows a breadcrumb, no margin on the H1
  + h1 {
    margin-top: 0;
  }
}
