//  --------- HEADER ----------- */


// class needs to be set with JS
body.fixed-header {
  padding-top: 40px;
  .navbar {
    >.container-fluid {
      padding: 0 40px;
    }
  }
}

#header, header {
    background-color: $background-color;
    .navbar {
      margin-bottom: 0;
      li.first a {
        padding-left: 0;
      }
    .navbar-brand, .container .navbar-brand {
      padding: 15px 0;
      margin-left: 0;
      color: $brand-primary;
      font-weight: 700;
      &.brand-text {
          color: $brand-primary;
          font-weight: 700;
      }
    }
      // fixed navbar has a shadow that appears when scrolled via jQuery
      &.navbar-fixed-top {
      -webkit-transition: box-shadow .3s;
      transition        : box-shadow .3s;
      &.shadow {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
        -moz-box-shadow   : 0 3px 6px rgba(0,0,0,.2);
        box-shadow        : 0 3px 6px rgba(0,0,0,.2);
      }
      }
      // &.navbar-scroll {
      // }
      &.navbar-default {
      background-color     : $background-color;
      border               : none;
      -webkit-border-radius: 0;
      -moz-border-radius   : 0;
      border-radius        : 0;
      border-bottom        : 1px solid $brand-primary;
        // no color behind top-level items when open
        & .open a {
        background-color: transparent;
        color           : $brand-primary;
          &:hover {
          background-color: transparent;
          color           : $brand-primary;
          }
        }
        // you can designate an LI as "active" and highlight its link
        & .active a {
          background-color: transparent;
          &:hover {
            background-color: transparent;
            color: $brand-primary;
          }
        }
        .dropdown-menu {
        background-color     : $gray-light;
        border               : none;
        margin-top           : 1px;  //enough to clear the rule below header
        -webkit-border-radius: 0;
        -moz-border-radius   : 0;
        border-radius        : 0;
        box-shadow           : none;
          .divider {
          height          : 1px;
          margin          : 9px 20px;
          overflow        : hidden;
          background-color: $gray;
          }
          > li {
            > a {
              // links in the dropdown
            padding    : 6px 20px;
            font-weight: normal;
            line-height: 1.4;
            color      : $text-color-dark;
            font-size  : 16px;
            white-space: nowrap;
            font-family: $font-family-sans-serif;
            }
          }

        }
      }
    }
    &.header-stacked {
      .nav.navbar-nav {
        margin-left: -15px;
        > li > a {
          padding-top: 0;
        }
      }
      .navbar-brand {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .activity {
        .badge {
          top: -20%;
        }
      }
    }


}


// MEDIA QUERIES */

@media (max-width: $screen-xs-max) {
  .activity {
    display: inline-block !important;
  }
}
