// Isotope */
.isotope {
    @extend %isotope-transition-duration;
    -webkit-transition-property: height, width;
    transition-property: height, width;
    .item {
      @extend %isotope-transition-duration;
      -webkit-transition-property: -webkit-transform, opacity;
      transition-property:         transform, opacity;
    }
    .row {
       margin-left:0;
       margin-right:0;
    }
    .well {
        border-color:#eee;
    }
    .item h4 a {
      color: #333;
    }
    .badge {
        background-color: $gray-dark;
    }

    .item img.image {
      max-width: 100%;
      margin-top: 9px;
    }
    .info {
        padding:4px;
    }
}

// Isotope Transitions
%isotope-transition-duration {
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}



// responsive media queries */

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }
  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }
  .isotope .item {
    position: static !important;
    -webkit-transform: translate(0p, 0) !important;
            transform: translate(0, 0) !important;
  }
}
