// Miller Columns
.miller-columns {
  margin-bottom: 20px;

  .panel {
    height: 100%;
    overflow-y: auto;
  }

  .first-column {
    padding-right: 0;
    height: 100%;
    .panel-default {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .panel-heading {
        border-top-right-radius: 0;
      }
    }
  }

  .inner-column {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    .panel-default {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius : 0;
      .panel-heading {
        border-top-left-radius : 0;
        border-top-right-radius: 0;
      }
    }
  }

  .last-column {
    padding-left: 0;
    height: 100%;
    .panel-default {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius : 0;
      .panel-heading {
        border-top-left-radius: 0;
      }
    }
  }

}


.panel-title {
  font-weight: 700;
}



/* draggable */
.column{
  min-height: 300px;

  .panel-heading {
    cursor: move;
  }

  .placeholder{
    background: #f0f0f0;
    border: 1px dashed #ddd;
  }
}


/* collapsible */
.collapse-btn {
  display: inline-block;
  float: right;
  cursor: pointer;
  color: $gray;

  &:hover {
    color: $brand-primary;
  }
}
