
//* TABLES */


.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: $table-bg-hover;
}
th {
  font-weight: normal;

}

// table transitions for hovers
.table> tbody > tr > td, .table > tbody > tr > th {
  -webkit-transition: background-color .3s;
  transition        : background-color .3s;
}

.table-condensed-extra {
  font-size: 14px;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-extra-cell-padding;
      }
    }
  }
}
