<h1>Buttons </h1>
<!--Options to style Buttons-->


<!-- NOTE -->
<!-- buttons are wrapped in P tags only for this exmple document! -->

<div class="row">


 <div class="col-md-6">
    <h3>Default Button</h3>
   <div class="pb-example">
      <p><button class="btn btn-default btn-lg" type="Button">LG Button</button></p>
      <p><button class="btn btn-default"        type="Button">Button</button></p>
      <p><button class="btn btn-default btn-sm" type="Button">SM Button</button></p>
      <p><button class="btn btn-default btn-xs" type="Button">XS Button</button></p>
   </div>
   <div class="pb-example">
      <p><button class="btn btn-default btn-lg" type="Button" disabled="disabled">LG Button</button></p>
      <p><button class="btn btn-default"        type="Button" disabled="disabled">Button</button></p>
      <p><button class="btn btn-default btn-sm" type="Button" disabled="disabled">SM Button</button></p>
      <p><button class="btn btn-default btn-xs" type="Button" disabled="disabled">XS Button</button></p>
     <span> (Disabled)</span>
   </div>
 </div>


  <div class="col-md-6">
    <h3>Primary Button</h3>
    <div class="pb-example">
      <p><button class="btn btn-primary btn-lg" type="Button">LG Button</button></p>
      <p><button class="btn btn-primary"        type="Button">Button</button></p>
      <p><button class="btn btn-primary btn-sm" type="Button">SM Button</button></p>
      <p><button class="btn btn-primary btn-xs" type="Button">XS Button</button></p>
    </div>
    <div class="pb-example">
      <p><button class="btn btn-primary btn-lg" type="Button" disabled="disabled">LG Button</button></p>
      <p><button class="btn btn-primary"        type="Button" disabled="disabled">Button</button></p>
      <p><button class="btn btn-primary btn-sm" type="Button" disabled="disabled">SM Button</button></p>
      <p><button class="btn btn-primary btn-xs" type="Button" disabled="disabled">XS Button</button></p>
      <span> (Disabled)</span>
    </div>
  </div>


</div>


<div class="row">
  <div class="col-md-6">
<h3>Button Group</h3>

    <div class="pb-example">
      <div class="btn-group">
        <button class="btn btn-default" type="Button">Button</button>
        <button class="btn btn-default" type="Button">Button</button>
        <button class="btn btn-default active" type="Button">Active Button</button>
        <button class="btn btn-default" type="Button">Button</button>
      </div>
    </div>

    <div class="pb-example">
      <div class="btn-group">
        <button class="btn alt btn-default" type="Button">Button</button>
        <button class="btn alt btn-default" type="Button">Button</button>
        <button class="btn alt btn-default active" type="Button">Active Button</button>
        <button class="btn alt btn-default" type="Button">Button</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">

    <!--Vertical Button-->
    <h3>Vertical Button Group</h3>
    <div class="pb-example">
      <div class="btn-group-vertical">
        <button class="btn btn-default" type="Button">Button</button>
        <button class="btn btn-default" type="Button">Button</button>
        <button class="btn btn-default active" type="Button">Button</button>
        <button class="btn btn-default" type="Button">Button</button>
      </div>
    </div>
    <div class="pb-example">
      <div class="btn-group-vertical">
        <button class="btn alt btn-default" type="Button">Button</button>
        <button class="btn alt btn-default" type="Button">Button</button>
        <button class="btn alt btn-default active " type="Button">Button</button>
        <button class="btn alt btn-default" type="Button">Button</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6">


    <!--Dropdown Button-->
    <h3>Dropdown Button</h3>
    <div class="pb-example">
      <!-- large dropdown button -->
      <p>
        <div class="btn-group">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
            Large button <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </p>
      <!--  dropdown button -->
      <p>
        <div class="btn-group">
          <button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown">
            Button <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </p>
      <!-- small dropdown button -->
      <p>
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            Small button <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </p>
      <!-- xsmall dropdown button -->
      <p>
        <div class="btn-group">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            XS button <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </p>

    </div>

    <!--Split dropdown Button<-->
    <h3>Split dropdown Button</h3>
    <div class="pb-example">
      <p><div class="btn-group">
        <button class="btn btn-default btn-lg" type="Button">Large Button</button>
        <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div></p>
      <p><div class="btn-group">
        <button class="btn btn-default" type="Button">Button</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div></p>
     <p>
     <div class="btn-group">
        <button class="btn btn-default btn-sm" type="Button">Small Button</button>
        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        </p>
      <p>
      <div class="btn-group">
        <button class="btn btn-default btn-xs" type="Button">XS Button</button>
        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        </p>

    </div>

  </div>
  <div class="col-md-6">


      <!--Dropup Button<-->
      <h3>Dropup Button &amp; Split Dropup Button</h3>
      <div class="pb-example">
        <div class="btn-group dropup">
          <button type="Button" class="btn btn-default dropdown-toggle">Button
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group dropup">
          <button class="btn btn-default" type="Button">Button</button>
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" >
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
        </div>
      </div>

      <!--Nesting Button-->
      <h3>Nesting Button</h3>
      <div class="pb-example">
        <div class="btn-group">
          <button type="Button" class="btn btn-default">Button</button>
          <button type="Button" class="btn btn-default">Button</button>

           <div class="btn-group">
            <button type="Button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>


  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Icon Buttons</h3>
    <div class="pb-example">
        <p>
          <button type="button" class="btn btn-default"><i class="fa fa-download"></i> Download</button>
        </p>
        <p>
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-download"></i> Download</button>
        </p>
    </div>
  </div>
</div>








<div class="row">
  <div class="col-md-6">
    <h3>Button Toolbar</h3>
    <div class="pb-example">
      <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-default">8</button>
        </div>
      </div>
    </div>
  </div>
</div>