<h1>Inputs</h1>

<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label>Text Input</label>
      <input class="form-control" type="text" name="text1" placeholder="Placeholder text in supported browsers" />
    </div>

    <div class="form-group">
      <label>Text Input Disabled</label>
      <input class="form-control" type="text" name="text1" disabled="disabled" />
    </div>

    <div class="form-group has-error">
      <label>Text Input, Error Condition</label>
      <input class="form-control" type="text" name="text1" />
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <label>Text Input</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label>Text Input</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label>Text Input</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Textarea</label>
      <textarea class="form-control" type="textarea" name="textarea1" placeholder="Placeholder text in supported browsers"></textarea>
      <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
    </div>

    <div class="form-group">
    <label for="searchfield">Date Field</label>
    <input type="date" class="form-control" name="searchfield" id="searchfield">
    </div>

    <div class="form-group">
    <label for="searchfield">Number Field</label>
    <input type="number" class="form-control" name="searchfield" id="searchfield">
    </div>

    <div class="form-group">
      <label>Dropdown</label>
      <select class="form-control">
        <option value="">Please select...</option>
        <option value="0">Option 1</option>
        <option value="0">Option 2</option>
        <option value="0">Option 3</option>
        <option value="0">Option 4</option>
        <option value="0">Option 5</option>
        <option value="0">Option 6</option>
        <option value="0">Option 7</option>
      </select>
    </div>

    <div class="form-group">
      <label>Dropdown Disabled</label>
      <select class="form-control" disabled="disabled">
        <option value="">Please select...</option>
        <option value="0">Option 1</option>
        <option value="0">Option 2</option>
        <option value="0">Option 3</option>
        <option value="0">Option 4</option>
        <option value="0">Option 5</option>
        <option value="0">Option 6</option>
        <option value="0">Option 7</option>
      </select>
    </div>










  </div>




  <div class="col-md-6">
    <div class="form-group">
      <label>Multiple Select</label>
      <select multiple class="form-control">
        <option value="0">Option 1</option>
        <option value="0">Option 2</option>
        <option value="0">Option 3</option>
        <option value="0">Option 4</option>
        <option value="0">Option 5</option>
        <option value="0">Option 6</option>
        <option value="0">Option 7</option>
      </select>
    </div>



    <div class="form-group">

      <label>Checkbox Group</label>

      <div class="checkbox">
        <input type="checkbox" id="cb1" value="" checked="checked"><label for="cb1">Lorem ipsum dolor sit amet.</label>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="cb2" value=""><label for="cb2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </label>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="cb3" value=""><label for="cb3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
      </div>

    </div>


    <div class="form-group">

      <label>Radio Button Group</label>

      <div class="radio">
        <input type="radio" id="rd1" name="radios" checked="checked" value="choice_1"><label for="rd1">Option one is this and that&mdash;be sure to include why it's great</label>
      </div>

      <div class="radio">
        <input type="radio" id="rd2" name="radios" value="choice_2"><label for="rd2">Option one is this and that&mdash;be sure to include why it's great</label>
      </div>

      <div class="radio">
        <input type="radio" id="rd3" name="radios" value="choice_3"><label for="rd3">Option one is this and that&mdash;be sure to include why it's great</label>
      </div>

    </div>

    <div class="form-group switches">
    <label>Switches</label>

      <p>
        <div class="switch-large" toggle-switch model="switchStatus1"></div>
      </p>

      <p>
        <div class="switch-default" toggle-switch model="switchStatus2"></div>
      </p>

      <p>
        <div class="switch-small" toggle-switch model="switchStatus3"></div>
      </p>

      <p>
        <div class="switch-mini" toggle-switch model="switchStatus4"></div>
      </p>

    </div>



    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" name="text1" />
    </div>

    <div class="form-group">
      <label>File Upload</label>
      <input class="form-control" type="file" name="file1" />
    </div>

    <div class="form-group">
    <label>Submit and Cancel Buttons</label><br>
    <input type="submit" value="Submit" class="btn btn-primary"> &nbsp; <input type="reset" class="btn btn-default" value="Cancel"></div>

  </div>
</div>


