// moved to separate file to minimized scrolling in main file
//
//*/ Buttons */
// --------------------------------------------------
// just to remove the BS inset shadows
 .btn:active, .btn.active {
	outline           : 0;
	background-image  : none;
	-webkit-box-shadow: none;
	box-shadow        : none;
}

// Button Sizes
// --------------------------------------------------

// -- mixin
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding      : $padding-vertical $padding-horizontal;
	font-size    : $font-size;
	line-height  : $line-height;
	border-radius: $border-radius;
}

// -- sizing definitions
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}
.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xsmall, $line-height-small, $border-radius-small);
}

// -- Button variants outline and solid
// outline button, we added a knockout one, hence the added params
@mixin outline-button($color: $c, $foreground: #fff, $disabled: $disabled-button) {
	color             : $color;
	background-color  : transparent;
	border-color      : $color;
	-webkit-transition: background-color .3s, color .3s;
	transition        : background-color .3s, color .3s;
	&:hover {
		color           : $foreground;
		background-color: $color;
		border-color    : $color;
	}
  &:active,
  &.active,
  &:focus,
  .open .dropdown-toggle & {
		color           : $foreground;
		background-color: darken($color, 15%);
		border-color    : darken($color, 15%);
        .btn-group &, .btn-group-vertical & {
			background-color: darken($color, 15%);
			border-color    : darken($color, 15%);
        }
        &:hover {
        	background-color: darken($color, 25%);
        	border-color    : darken($color, 25%);
        }

  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
		background-color: transparent;
		border-color    : $disabled;
		color           : $disabled;
		opacity         : 1;
    }
  }
}

@mixin solid-button ($color) {
	color             : #fff;
	background-color  : $color;
	border-color      : $color;
	-webkit-transition: background-color .3s, color .3s;
	-moz-transition   : background-color .3s, color .3s;
	-ms-transition    : background-color .3s, color .3s;
	-o-transition     : background-color .3s, color .3s;
	transition        : background-color .3s, color .3s;
  &:hover {
		color           : #fff;
		background-color: darken($color, 10%);
		border-color    : darken($color, 10%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
		color           : #fff;
		background-color: darken($color, 25%);
		border-color    : darken($color, 25%);
        .btn-group & {
			background-color: darken($color, 15%);
			border-color    : darken($color, 15%);
        }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
			background-color: $disabled-button;
			border-color    : $disabled-button;
			color           : #fff;
			opacity         : 1;
    }
  }
}

@mixin borderless-button($color) {
	color: $color;
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
	  &,
	  &:hover,
	  &:active,
	  &.active {
	    color: $disabled-button;
	    text-decoration: none;
	    opacity: 1;
	  }
	}
}


// set up our two types of buttons
.btn-default {
	@include outline-button($button-color);
}
.btn-default-ko {
	@include outline-button(#fff, $brand-primary, $gray);
}

.btn-primary {
	@include solid-button($button-color);
}
.btn-link, .btn-cancel {
	@include borderless-button($button-color);
}




// some font overrides
.btn-group {
	&-sm {
		.btn {
			i.fa {
				font-size: 16px;
			}
		}
	}

	&-xs {
		.btn {
			i.fa {
				font-size: 14px;
			}
		}
	}


}

.btn-group-borderless {
	.btn {
		border: 0;
	}
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
  // correct the "double borders"
  > .btn-group:not(:first-child) > .btn {
	border-left: 0;
  }

  > .btn-group .dropdown-menu {
    left: auto;
  }
}





//  transitory alert msg next to button
.btn-response {
	display: inline-block;
	margin-left: 10px;
}

// overrides for bootstrap's Close button
.close {
	// color: $gray-mid;
	transition: color .5s;
	opacity: 1.0;
	filter: alpha(opacity=1);
	&:hover {
		// color: $link-color-hover;
		opacity: 1.0;
		filter: alpha(opacity=1);
	}
}




// Alternate buttons
// --------------------------------------------------


// Success appears as green
.btn-success {
  @include solid-button($brand-success);
}
// Info appears as blue-green
.btn-info {
  @include solid-button($brand-info);
}
// Warning appears as orange
.btn-warning {
  @include solid-button($brand-warning);
}
// Danger and error appear as red
.btn-danger {
  @include solid-button($brand-danger);
}
