

//* -- FORMS -- */

.help-block.text-error {
  display: none;
  .has-error & {
    display: block;
    color: $brand-error;
  }
}
fieldset {
  margin-top: 40px;
}

.form-control {
  box-shadow: none;
  border: 1px solid $gray;
}

select[disabled] {
  color: lighten($text-color, 30%) !important;
}

.widget-header {
  h3 {
    font-family: $font-family-sans-serif;
  }
}

.has-error {
  .form-control {
    border-color: $brand-error;
  }
}

.form-control[disabled].datepicker,
.form-control[readonly].datepicker,
fieldset[disabled] .form-control.datepicker,
.form-control[disabled].timepicker,
.form-control[readonly].timepicker,
fieldset[disabled] .form-control.timepicker  {
cursor: pointer;
background-color: #fff;
}

.input-group {
  // first the input fields
  .form-control {
    width: 100%;
    &:first-child {
      border-right: 0;
    }
    &:last-child {
      border-left: 0;
    }
  }
  // now the "add-on"
  .input-group-addon {
    padding         : $padding-base-vertical  $padding-base-horizontal;
    font-size       : $font-size-small;
    font-weight     : normal;
    line-height     : 1;
    color           : $gray-text;
    text-align      : center;
    background-color: #fff;
    border          : 1px solid $gray;
    border-radius   : $border-radius-base;

    // when the add-on is on the left
    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius   : 0;
      border-right              : 0;
    }
    // when the add-on is on the right
    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius   : 0;
      border-left              : 0;

    }
  }

  // when the add-on is a button
  .btn {
    // need to make the "small" font size to match form fields
    font-size: $font-size-small;
  }
  .input-group-btn {
    z-index: 3;
  }

  // large
  &.input-group-lg {
    font-size       : $font-size-base;
    border-radius   : $border-radius-large;
  }

  // small
  &.input-group-sm{
    font-size: $font-size-xsmall;
    border-radius: $border-radius-small;
  }




}
