.ngrs-range-slider {
  $bar-height: 14px;
  $handle-size: 12px;
  box-shadow: none;
  border: 1px solid $gray-light;
  .ngrs-join {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 100%;
    height: $bar-height;
    margin: -($bar-height/2) 0 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: $brand-primary;
    background-image: none;
  }
  .ngrs-handle {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: $handle-size;
    margin: 0 0 0 -($handle-size/2);
    background: #fff;
    border: 1px solid $brand-primary;
    // border-radius: ($handle-size/2);
    border-radius: 0;

  }
}
