.modal {
  &.draggable {
    .modal-header {
      border-radius: 4px 4px 0 0;
      cursor: move;
      &:active {
        background-color: darken($gray-light, 10%);
      }
    }

  }
  .modal-body {
    font-size: 14px;
  }
  .modal-footer {
    border-top: 0;
    text-align: left;
  }
  .modal-header {
    border-bottom: 0;
    .close {
      font-size: 20px;
    }
    .modal-title {
      color: $brand-primary;
      font-size: 16px;
    }
  }

}
//* alerts */
.alert-danger {
  background-color: $alert-danger-bg;
  border-color: $alert-danger-border;
  color: $alert-danger-text;
}
.alert-success {
  background-color: $alert-success-bg;
  border-color: $alert-success-border;
  color: $alert-success-text;
}
.alert-warning {
  background-color: $alert-warning-bg;
  border-color: $alert-warning-border;
  color: $alert-warning-text;
}
.alert-info {
  background-color: $alert-info-bg;
  border-color: $alert-info-border;
  color: $alert-info-text;
  a {
    color: darken($link-color, 20%);
  }

}

// alert box

.alert-box
{
  font-size       : 18px;
  font-weight     : normal;

  position        : absolute;
  z-index         : 2000;
  right           : 30px;
  bottom          : 60px;

  display         : block;

  width           : 300px;
  padding         : 20px;

  text-align      : center;

  color           : #fff;
  border-width    : 1px;
  border-style    : solid;
  border-color    : $brand-info;
  background-color: $brand-info;
  box-shadow      : 3px 3px 6px rgba(0, 0, 0, 0.5);
  &.success
  {
      color           : #fff;
      border-color    : $brand-success;
      background-color: $brand-success;
  }

}



// Activity Notification at top of page

.activity {
  position: relative;

  &:hover {
    color: $text-color !important;
    .badge {
      -webkit-transform: scale(1.2);
      -ms-transform    : scale(1.2);
      -o-transform     : scale(1.2);
      transform        : scale(1.2);
    }
  }

  .badge {
    position                : absolute;
    top                     : 15%;
    right                   : 0;
    background              :$brand-primary;
    font-size               : 10px;
    color                   : #fff;
    font-weight             : 700;
    text-align              : center;
    line-height             : normal;
    -webkit-transition      : all .1s;
    -o-transition           : all .1s;
    transition              : all .1s;
  }
}





// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}
@include bg-variant('.bg-primary', $brand-primary);
@include bg-variant('.bg-success', $state-success-bg);
@include bg-variant('.bg-info', $state-info-bg);
@include bg-variant('.bg-warning', $state-warning-bg);
@include bg-variant('.bg-danger', $state-danger-bg);



//* CALLOUTS (from the BS docs, but useful) */
.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #eee;
  &.callout-info {
    background-color: lighten($state-info-bg, 12%);
    border-color    : $state-info-border;
    h4 {
      color: $state-info-text;
    }
  }
  &.callout-danger {
    background-color: lighten($state-danger-bg, 2%);
    border-color    : $state-danger-border;
    h4 {
      color: $state-danger-text;
    }
  }
  &.callout-warning {
    background-color: $state-warning-bg;
    border-color    : $state-warning-border;
    h4 {
      color: $state-warning-text;
    }
  }
  &.callout-success {
    background-color: $state-success-bg;
    border-color    : $state-success-border;
    h4 {
      color: $state-success-text;
    }
  }
}




//*Messagebox */

.divMessageBox {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 100000;

}
/*
.MessageIE{
    background-image: url("@{base-url}/bg.png");

}*/

.MessageBoxContainer {
  background-color: rgba(0, 0, 0, 0.8);
  color           : #fff;
  padding         : 20px;
  position        : relative;
  top             : 35%;
  width           : 100%;
  input {
    padding: 5px;
    width  : 50%;
  }
  select {
    padding: 5px;
    width  : 50%;
  }
}
.MessageBoxMiddle {
  left: 20%;
  position: relative;
  width: 60%;
  .MsgTitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
  }
  .pText {
    font-style: 30px;
  }
}

.MessageBoxButtonSection {
  height: 30px;
  width: 100%;

}
.MessageBoxButtonSection button {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-right: 7px;
  padding-left: 15px;
  padding-right: 15px;

}
/* End of MessageBox */

.LoadingBoxContainer {
  background-color: #232323;
  color: #fff;
  position: relative;
  top: 20%;
  width: 100%;

}
.LoadingBoxMiddle {
  left    : 20%;
  padding : 10px;
  position: relative;
  width   : 50%;
  .MsgTitle {
    font-size: 26px;
  }
  .pText {
    font-style: 30px;
  }
}

#LoadingPoints {
  position: absolute;

}
//* bigBoxes */
.bigBox {
  -moz-box-sizing   : content-box;
  -webkit-box-sizing: content-box;
  background-color  : #004d60;
  border-left       : 5px solid rgba(0, 0, 0, 0.15);
  bottom            : 10px;
  box-sizing        : content-box;
  color             : #fff;
  height            : 150px;
  overflow          : hidden;
  padding           : 10px 10px 5px;
  position          : fixed;
  right             : 10px;
  width             : 390px;
  z-index           : 99999;
  span {
    display       : block;
    font-size     : 17px;
    font-weight   : 300;
    letter-spacing: -1px;
    padding       : 5px 0 !important;
  }
  p {
    font-size: 13px;
    margin-top: 10px;
  }
  .bigboxicon {
    font-size: 30px;
    left: 6px;
    position: absolute;
    text-align: left;
    top: 120px;
    z-index: 0;
  }
  .bigboxnumber {
    font-size: 25px;
    text-align: right;
    width: 100%;
  }
}


#divMiniIcons {
  bottom: 180px;
  float: right;
  position: fixed;
  right: 10px;
  width: 415px;
  z-index: 9999;
  .cajita {
    background-color: #f00;
    color           : #fff;
    cursor          : pointer;
    display         : block;
    float           : right;
    font-size       : 17px;
    margin-left     : 4px;
    margin-top      : 5px;
    padding         : 4px 6px;
    text-align      : center;
    vertical-align  : middle;
  }
  .cajita:active {
    left: 1px;
    position: relative;
    top: 1px;
  }
}
.botClose {
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 16px;
  opacity: .5;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 15px;

}
.botClose:hover {
  opacity: 1;

}

.cajita img {
  height: 23px;
  padding-left: 3px;
  padding-top: 3px;
  width: 23px;

}


//* SmallBox */
#divSmallBoxes {

  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

}
.SmallBox {
  border: 1px solid transparent;
  color: #fff;
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 20px;
  width: 420px;
  z-index: 9999;
  .foto {
    font-size: 50px;
    left: 17px;
    position: absolute;
  }
  .textoFull {
    float: left;
    padding-left: 20px;
    width: 93%;
  }
  .textoFoto {
    float : left;
    margin: 3px 20px 3px 80px;
    width : 78%;
  }
  span {
    display       : block;
    font-size     : 17px;
    font-weight   : 300;
    letter-spacing: -1px;
    margin        : 4px 0;
  }
  p {
    font-size: 13px;
    margin-top: 2px;

  }

}
.SmallBox:hover {
  border: 1px solid #fff;
  cursor: pointer;

}
.miniPic {
  bottom: 8px;
  position: absolute;
  right: 9px;

}
.miniIcono {
  font-size: 20px;
  height: 100%;

}
//* End of SmallBox */

#pageslide {
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  // Specify the width of your pageslide here */
  // These styles MUST be included. Do not change. */
  height            : 100%;
  position          : fixed;
  padding           : 20px;
  top               : 0;
  z-index           : 999999;
  // These styles are optional, and describe how the pageslide will look */
  position          : absolute;
  -moz-shadow       : inset 0 0 0 0 #222;
  display           : none;
  box-shadow        : inset 0 0 0 0 #222;
  color             : #fff;
  background-color  : #004d60;
  width             : 305px;

}
.purehtml {
  color: #fff;
  font-size: 16px;

}
// Mobile Phones */
@media screen and (max-width: 450px) and (max-width: 767px) {

  .MessageBoxContainer select {
    padding: 5px;
    width  : 50%;
  }
  // Messagebox Responsive */
  // End of MessageBox Responsive */
  // End of  bigBoxes  Responsive */
  // bigBoxes Responsive */
  // SmallBox Responsive */
  .SmallBox:hover {

    box-shadow: 0 0 10px #888;
    cursor: pointer;
  }
  .bigBox {
    background-color: #004d60;
    bottom          : 10px;
    color           : #fff;
    height          : 150px;
    padding         : 10px 10px 5px;
    position        : fixed;
    right           : 10px;

    width           : 88%;
    z-index         : 99999;
  }
  .MessageBoxMiddle .MsgTitle {
    font-size: 22px;
  }
  .MessageBoxMiddle .pText {
    font-style: 10px;
  }
  .divMessageBox {
    background: rgba(0,0,0,0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
  }
  // End of SmallBox Responsive*/
  .SmallBox span {
    font-size: 16px;
  }
  .MessageBoxButtonSection {
    height: 30px;
    width: 100%;

  }
  .SmallBox .textoFoto {
    float : left;
    margin: 3px 20px 3px 80px;
    width : 55%;
  }
  .MessageBoxButtonSection button {
    float: right;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .SmallBox {
    width: 95%;
  }
  .SmallBox .textoFull {
    float: left;
    padding-left: 20px;
    width: 93%;
  }
  #divSmallBoxes {
    position: fixed;
    right: 0;
    top: 0;
    width: 90%;
  }
  .SmallBox p {
    font-size: 12px;
    margin-top: 2px;
  }
  .MessageBoxContainer input {
    padding: 5px;
    width  : 50%;
  }
  .MessageBoxMiddle {
    left    : 0;
    padding : 3px;
    position: relative;
    width   : 100%;
  }
  .MessageBoxContainer {
    background-color: #232323;
    color: #fff;
    position: relative;
    top: 25%;
    width: 100%;
  }

}
//* Animations */

.animated {
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
  &.fast {
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;

  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
.fadeIn {
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

}
@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0;

  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

}
@-moz-keyframes fadeInRight {
  0% {
    -moz-transform: translateX(20px);
    opacity: 0;

  }
  100% {
    -moz-transform: translateX(0);
    opacity: 1;
  }

}
@-o-keyframes fadeInRight {
  0% {
    -o-transform: translateX(20px);
    opacity: 0;

  }
  100% {
    -o-transform: translateX(0);
    opacity: 1;
  }

}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);

  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}
.fadeInRight {
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;

}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;

  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

}
@-moz-keyframes fadeInUp {
  0% {
    -moz-transform: translateY(20px);
    opacity: 0;

  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }

}
@-o-keyframes fadeInUp {
  0% {
    -o-transform: translateY(20px);
    opacity: 0;

  }
  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }

}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
.fadeInUp {
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;

}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
.fadeOut {
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOutLeft {
  0% {
    -webkit-transform: translateX(0);
    opacity: 1;

  }
  100% {
    -webkit-transform: translateX(-20px);
    opacity: 0;
  }

}
@-moz-keyframes fadeOutLeft {
  0% {
    -moz-transform: translateX(0);
    opacity: 1;

  }
  100% {
    -moz-transform: translateX(-20px);
    opacity: 0;
  }

}
@-o-keyframes fadeOutLeft {
  0% {
    -o-transform: translateX(0);
    opacity: 1;

  }
  100% {
    -o-transform: translateX(-20px);
    opacity: 0;
  }

}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);

  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }

}
.fadeOutLeft {
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}
