.onoffswitch {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  position: relative;
  width: 90px;

}
.onoffswitch-checkbox {
  display: none;

}
.onoffswitch-label {
  border: 1px solid $gray;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;

}
.onoffswitch-inner {
  -webkit-transition: margin .3s ease-in 0s;
  transition: margin .3s ease-in 0s;
  display: block;
  margin-left: -100%;
  width: 200%;

}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  color             : white;
  display           : block;
  float             : left;
  font-family       : $font-family-sans-serif;
  font-size         : 16px;
  font-weight       : normal;
  height            : 30px;
  line-height       : 30px;
  padding           : 0;
  width             : 50%;

}
.onoffswitch-inner:before {
  background-color: $brand-primary;
  color: #fff;
  content: '';
  padding-left: 10px;

}
.onoffswitch-inner:after {
  background-color: #f2f2f2;
  color: #59595a;
  content: '';
  padding-right: 10px;
  text-align: right;

}
.onoffswitch-switch {
  -webkit-transition: all .3s ease-in 0s;
  transition        : all .3s ease-in 0s;
  background        : #fff;
  background-image  : -webkit-linear-gradient(center top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image  : -o-linear-gradient(center top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
  border            : 2px solid #e1e1e1;
  border-radius     : 5px;
  bottom            : 0;
  display           : block;
  margin            : 0;
  position          : absolute;
  right             : 55px;
  top               : 0;
  width             : 35px;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
