.input-group {
  .selectize-control {

    .selectize-input {
      overflow: initial;
      border-bottom-left-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @at-root .input-group-lg .selectize-input{
        padding: $padding-large-vertical $padding-large-horizontal;
        font-size: 18px;
        line-height: 1.33;
        border-radius: $border-radius-large;
      }
  }
  .input-group-addon {
    &:first-child {

      ~ .selectize-control {

        .selectize-input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-top-right-radius: $border-radius-base;
          border-bottom-right-radius: $border-radius-base;
        }
      }
    }
  }
}
