.selectize-input {
  border-color: $gray;
}


.input-group {
  .selectize-control {
    .selectize-input {
      overflow: initial;
      border-color: $gray;
      @include flat-right;
    }

  }
  .input-group-addon {
    &:first-child {
      ~ .selectize-control {
        .selectize-input {
          @include flat-left;
        }
      }
    }

  }
  &.input-group-lg {
    .selectize-control {
      .selectize-input {
        padding: $padding-large-vertical $padding-large-horizontal;
        line-height: 1.5;
        font-size: $font-size-base;
        @include flat-right($border-radius-large);
        .has-items {
          padding: $padding-large-vertical $padding-large-horizontal;
        }
      }
    }

  }
  &.input-group-sm {
    .selectize-control {
      .selectize-input {
        padding: $padding-small-vertical $padding-small-horizontal;
        line-height: 1;
        font-size: $font-size-xsmall;
        border-radius: $border-radius-small;
      }
    }
  }
}
