
//* TODO:  Need IE8 fallback */
// ============================================================
// COMMON
// ============================================================
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.cmn-switch {
  display: inline-block;
}

// ============================================================
//  SWITCH 2 - ROUND FLAT
// ============================================================
$radius: 50px;
$inset: $radius * .2;


input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: $radius *2;
  height: $radius;
  background-color: #dddddd;
  -o-border-radius: $radius;
  border-radius: $radius;
  -webkit-transition: background .4s;
  transition: background .4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: '';
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -o-border-radius: $radius;
  border-radius: $radius;
  -webkit-transition: background .4s;
  transition: background .4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: $radius - $inset;
  background-color: #dddddd;
  -o-border-radius: $radius - $inset;
  border-radius: $radius - $inset;
  -webkit-transition: margin .4s, background .4s;
  transition: margin .4s, background .4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: $brand-primary;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: $radius;
  background-color: $brand-primary;
}
