
// toggle switch
.ats-switch {
  border-color: $gray;
}

.switch {
    border-color: $gray;
    -o-border-radius: 5px;
    border-radius: 5px;
    * {
        background-image: none !important;;
    }
    .knob {
        background-color: $gray-light;
        border-color: $gray;
      }
    .switch-left {
        background-color: $brand-primary;
        border-color: $gray;
    }
    .switch-right {
        background-color: $gray;
        border-color: $gray;
    }
}







//are we using this one or not?

// bootstrap angular switch /
// .has-switch {
//   display            : inline-block;
//   cursor             : pointer;
//   border-radius      : 4px;
//   border             : 1px solid;
//   border-color       : #cccccc;
//   position           : relative;
//   text-align         : left;
//   overflow           : hidden;
//   line-height        : 8px;
//   -webkit-user-select: none;
//   -moz-user-select   : none;
//   -ms-user-select    : none;
//   -o-user-select     : none;
//   user-select        : none;
//   vertical-align     : middle;
//   min-width          : 100px;
//   -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
//   transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
//   input[type="checkbox"], input[type="radio"] {
//     display: none;
//   }
//   > div {
//     display : inline-block;
//     width   : 150%;
//     position: relative;
//     top     : 0;
//     &.switch-animate {
//       -webkit-transition: left 0.5s;
//       transition        : left 0.5s;
//     }
//     &.switch-off {
//       left: -50%;
//     }
//   }
//   span, label {
//     text-align: center;
//     z-index   : 1;
//     width     : 33%;
//     cursor    : pointer;
//     position  : relative;
//     display   : inline-block !important;
//     height    : 100%;
//     &.switch-left {
//       color                    : #fff;
//       background               : $brand-primary;
//       border-bottom-left-radius: 4px;
//       border-top-left-radius   : 4px;
//     }
//     &.switch-right {
//       color     : #000;
//       background: #eeeeee;
//     }
//     &.switch-mini {
//       padding-bottom: 4px;
//       padding-top   : 4px;
//       font-size     : 10px;
//       line-height   : 9px;
//     }
//   }
//   label {
//     margin-top      : -1px;
//     margin-bottom   : -1px;
//     background-color: #fff;
//   }
// }
