<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="designSystemApp" ng-controller="MainCtrl"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="designSystemApp" ng-controller="MainCtrl"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{pgTitle}}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- build:css({tmp,app,.tmp}) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
    <link rel="stylesheet" href="scripts/vendor/select2-bootstrap.css" />
    <link rel="stylesheet" href="scripts/vendor/angular-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
    <link rel="stylesheet" href="styles/kendo.bootstrap.css" />
    <link rel="stylesheet" href="styles/design_system_bootstrap_ui.css">
    <!-- endbuild -->


    <link rel="stylesheet" href="styles/design_system.css">
    <link rel="stylesheet" href="styles/live_preview.css">
</head>
<body ng-cloak ng-class="{'fixed-header': settings.isFixed}">

    <div class="settings" ng-class="{'activate': settings.isOpen}">
        <div class="settings-tab" ng-click="settings.show()">
            <i class="fa fa-code fa-lg fa-fw"></i>
        </div>
        <div class="settings-form">
            <h6>Options</h6>
            <input id="isFluid" name="isFluid" type="checkbox" ng-model="settings.isFluid"> <label for="isFluid">Fluid Containers</label>
            <br>
            <input id="isFixed" name="isFixed" type="checkbox" ng-model="settings.isFixed"> <label for="isFixed">Fixed Header</label>
            <br>
            <input id="isThinFooter" name="isThinFooter" type="checkbox" ng-model="settings.isThinFooter"> <label for="isThinFooter">Thin Footer</label>
        </div>
    </div>


    <div id="header">
    <div class="navbar navbar-default" ng-class="{'navbar-fixed-top': settings.isFixed,'navbar-scroll': !settings.isFixed}" role="navigation" pb-fixed-navbar>
        <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand brand-text" href="#/">Design System Beta</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                    <li ng-class="{'dropdown':(n.children.length)}" ng-repeat="n in navData"><a data-target="{{n.value}}" data-toggle="{{n.toggle}}">{{n.label}} <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="p in n.children | orderBy:predicate"><a href="#/{{p.value}}">{{p.label}}</a></li>
                    </ul>
                    </li>
              </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="activity"><i class="fa fa-envelope fa-lg"></i> <b class="badge"> 21 </b></a>
                    </li>
                    <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;Walter Arthur&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href><i class="fa fa-cogs"></i>&nbsp;&nbsp;My Account</a></li>
                            <li><a><i class="fa fa-desktop"></i>&nbsp;&nbsp;Dashboard</a></li>
                            <li class="divider"></li>
                            <li><a><i class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
        </div>
    </div>


    <!-- Add your site or application content here -->
    <div ng-view></div>


    <!-- FOOTER -->
    <div id="footer" ng-class="{'footer-thin': settings.isThinFooter}">
    <!-- <div class="stripe">&nbsp;</div> -->
        <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
            <div class="row">

                <!-- Copyright -->
                <div class="col-md-6">
                    <a href="http://www.pb.com" class="pb-footerlogo" target="_blank"></a>&copy;2014 Pitney Bowes Inc. All rights reserved.
                </div>

                <!-- Social -->
                <div class="col-md-6 text-right xs-text-left">
                    <ul class="list-unstyled list-inline social">
                        <li>Follow us:</li>
                        <li>
                            <a target="_blank" class="fa-stack twitter" href="https://twitter.com/pitneybowes">
                                <i class="fa fa-stop fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="fa-stack facebook" href="http://www.facebook.com/pitneybowes">
                                <i class="fa fa-stop fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="fa-stack linkedin" href="http://www.linkedin.com/company/pitney-bowes">
                                <i class="fa fa-stop fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="fa-stack google-plus" href="https://plus.google.com/+pitneybowes">
                                <i class="fa fa-stop fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="fa-stack youtube" href="http://www.youtube.com/user/PitneyBowesInc">
                                <i class="fa fa-stop fa-stack-2x"></i>
                                <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!-- build:js scripts/ie8.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/respondJs/src/respond.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js({.tmp,app})  scripts/vendor.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/kapusta-jquery.sparkline/dist/jquery.sparkline.js"></script>
    <script src="bower_components/leaflet-dist/leaflet.js"></script>
    <script src="bower_components/angular-leaflet/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/ngprogress/build/ngProgress.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/flot/jquery.flot.pie.js"></script>
    <script src="bower_components/flot/jquery.flot.resize.js"></script>
    <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="bower_components/angular-flot/angular-flot.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/Numeric-Stepper/stepper/jquery.stepper.js"></script>
    <script src="bower_components/select2/select2.min.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.core.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
    <script src="bower_components/angular-kendo-ui/angular-kendo.js"></script>
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    <script src="scripts/vendor/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="scripts/vendor/angular-toggle-switch/angular-toggle-switch.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/ChartFactory.js"></script>
    <script src="scripts/services/PeopleFactory.js"></script>
    <script src="scripts/services/InvoiceFactory.js"></script>
    <script src="scripts/services/FaIconFactory.js"></script>
    <script src="scripts/services/FakeNavFactory.js"></script>
    <script src="scripts/services/NavFactory.js"></script>
    <script src="scripts/directives/pb-left-nav.js"></script>
    <script src="scripts/directives/pb-fixed-navbar.js"></script>
    <script src="scripts/directives/pb-tree-nav.js"></script>
    <script src="scripts/directives/pb-checkable-input-group.js"></script>
    <script src="scripts/vendor/sparkline-directive.js"></script>
    <script src="scripts/filters/capitalize.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/index.js"></script>
    <script src="scripts/controllers/leftnav.js"></script>
    <script src="scripts/controllers/two_panel_selector.js"></script>
    <script src="scripts/controllers/elements.js"></script>
    <script src="scripts/controllers/data_grid.js"></script>
    <script src="scripts/controllers/maps.js"></script>
    <script src="scripts/controllers/faceted_search.js"></script>
    <script src="scripts/controllers/headers.js"></script>
    <script src="scripts/controllers/accordion.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/panels.js"></script>
    <script src="scripts/controllers/forms.js"></script>
    <script src="scripts/controllers/tabs.js"></script>
    <script src="scripts/controllers/kendo.js"></script>
    <script src="scripts/controllers/isotope-gallery.js"></script>
    <script src="scripts/directives/pb-button-progress.js"></script>
    <script src="scripts/directives/pb-datetimepicker.js"></script>
    <script src="scripts/directives/pb-numeric-stepper.js"></script>
    <script src="scripts/directives/pb-reveal-password.js"></script>
    <script src="scripts/directives/pb-transitory-alert.js"></script>
    <script src="scripts/directives/pb-modal-draggable.js"></script>
    <script src="scripts/controllers/bootstrap-ui.js"></script>
    <script src="scripts/controllers/bootstrap-ui-simple-modal.js"></script>
    <script src="scripts/controllers/bootstrap-ui-modal.js"></script>
    <script src="scripts/controllers/bootstrap-ui-prompt-modal.js"></script>
    <script src="scripts/controllers/bootstrap-ui-draggable-modal.js"></script>
    <!-- endbuild -->


</body>
</html>
