<div ng-controller="GalleryCtrl">

<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">

  <div class="row">
      <!-- title -->
      <div class="col-md-12">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#/">Home</a></li>
          <li class="active">Gallery</li>
        </ol>
        <h1>Gallery</h1>

      </div>
  </div>


  <div class="row">

    <!-- left column -->
    <div class="col-md-3">

      <div class="list-group">

        <!-- menu1 -->
        <a class="list-group-item" ng-click="menu1 = !menu1" ng-init="menu1 = true"><i class="fa fa-chevron-right" ng-class="{'fa-chevron-down':!menu1}"></i> Toggle </a>
          <div class="list-group submenu collapse" collapse="menu1">
            <a class="list-group-item">test</a>
          </div>

        <a class="list-group-item" ng-click="menu1 = !menu1" ng-init="menu1 = true"><i class="fa fa-chevron-right" ng-class="{'fa-chevron-down':!menu1}"></i> Toggle </a>
      </div>

    </div>

    <!-- right column -->
    <div class="col-md-9">

      <div class="panel panel-default row col-md-6" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" style="x-margin-right: 20px;">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <h4>Heading</h4>
              <p>Nam interdum augue arcu, non dapibus odio interdum non. Aliquam ligula neque, scelerisque eget tempus et, vulputate semper arcu.</p>
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="http://placehold.it/200x200" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div> <!-- /container -->

</div> <!-- /controller -->