  <!--
    note: for the dummy headers here, disabled the dropdowns by commenting out.
    also, see the ng-class on the top-level menu items that will show the drop-arrow icon only if there are children
  -->


<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
	<div class="row">
		<div class="col-md-12">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
			  <li><a href="#/">Home</a></li>
			  <li class="active">Headers</li>
			</ol>

			<h1 class="page-header">Headers &amp; Footers</h1>
		</div>
	</div>
</div>



<!-- STANDARD HEADER -->
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
	<div class="row header-title">
		<div class="col-md-12"><h3>Standard Header</h3></div>
	</div>
</div>

<div class="header-example clearfix">
  <div id="header">
  <div class="navbar navbar-default"  role="navigation" fixednav>
      <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-text" href="#/">Design System Beta</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <li><a href="#">Item 1</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 2 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 3 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item 4</a></li>
            </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="activity"><i class="fa fa-envelope fa-lg"></i><b class="badge"> 21 </b></a>
                  </li>
                  <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;Arthur Walter&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#"><i class="fa fa-cogs"></i>&nbsp;&nbsp;My Account</a></li>
                              <li><a href="#"><i class="fa fa-desktop"></i>&nbsp;&nbsp;Dashboard</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out</a></li>
                          </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->

      </div>
      </div>
  </div>
</div>


<!-- TWO ROW HEADER -->
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
	<div class="row header-title">
		<div class="col-md-12"><h3>Two-row Header</h3></div>
	</div>
</div>

<div class="header-example clearfix">
  <div id="header" class="header-stacked">
  <div class="navbar navbar-default"  role="navigation" fixednav>
      <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="row">
          	<div class="col-md-12">
          		<div class="navbar-header">
          		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          		    <span class="sr-only">Toggle navigation</span>
          		    <span class="icon-bar"></span>
          		    <span class="icon-bar"></span>
          		    <span class="icon-bar"></span>
          		  </button>
          		  <a class="navbar-brand brand-text" href="#/">Design System Beta</a>
          		</div>
          	</div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="row"><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          	  <ul class="nav navbar-nav">
                  <li><a href="#">Item 1</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 2 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 3 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item 4</a></li>
                  <li><a href="#">Item 5</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 6 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item 7 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
            </ul>

          	    <ul class="nav navbar-nav navbar-right">
          	        <li>
          	            <a class="activity"><i class="fa fa-envelope fa-lg"></i><b class="badge"> 21 </b></a>
          	        </li>
          	        <li>
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;Arthur Walter&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#"><i class="fa fa-cogs"></i>&nbsp;&nbsp;My Account</a></li>
                              <li><a href="#"><i class="fa fa-desktop"></i>&nbsp;&nbsp;Dashboard</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out</a></li>
                          </ul>
          	        </li>
          	    </ul>
          	</div><!-- /.navbar-collapse --></div>

      </div>
      </div>
  </div>
</div>


<!-- FOOTER WITHOUT SOCIAL LINKS -->
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
  <div class="row footer-title">
    <div class="col-md-12"><h3>Footer Without Social Links</h3></div>
  </div>
</div>

<!-- FOOTER -->
<div class="footer-example clearfix">
  <div id="footer" ng-class="{'footer-thin': settings.isThinFooter}">
      <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
          <div class="row">

            <!-- Copyright -->
            <div class="col-md-6">
                <a href="http://www.pb.com" class="pb-footerlogo" target="_blank"></a>&copy;2014 Pitney Bowes Inc. All rights reserved.
            </div>

          </div>
      </div>
  </div>
</div>


<!-- FOOTER WITH LEGAL LINKS -->
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
    <div class="row footer-title">
        <div class="col-md-12"><h3>Footer With Legal Links</h3></div>
    </div>
</div>

<!-- FOOTER -->
<div class="footer-example clearfix">
  <div id="footer" ng-class="{'footer-thin': settings.isThinFooter}">
      <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
          <div class="row">

              <!-- Copyright -->
              <div class="col-md-4">
                <a href="http://www.pb.com" class="pb-footerlogo" target="_blank"></a>&copy;2014 Pitney Bowes Inc. All rights reserved.
              </div>

              <!-- Legal -->
              <div class="col-md-5 text-center">
                <ul class="list-unstyled list-inline legal">
                  <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                  <li><a href="#" target="_blank">Privacy Policy</a></li>
                </ul>
              </div>

              <!-- Social -->
              <div class="col-md-3 text-right xs-text-left">
              
                <ul class="list-unstyled list-inline social">
                  <!-- <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                  <li><a href="#" target="_blank">Privacy Policy</a></li> -->
                  
                  <li>Follow us:</li>
                  <li>
                      <a target="_blank" class="fa-stack twitter" href="https://twitter.com/pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" class="fa-stack facebook" href="http://www.facebook.com/pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" class="fa-stack linkedin" href="http://www.linkedin.com/company/pitney-bowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                    <a target="_blank" class="fa-stack google-plus" href="https://plus.google.com/+pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" class="fa-stack youtube" href="http://www.youtube.com/user/PitneyBowesInc">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                    </a>
                  </li>
                </ul>


              </div>
          </div>
      </div>
  </div>
</div>


<!-- FOOTER THIN -->
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
  <div class="row footer-title">
    <div class="col-md-12"><h3>Footer Thin</h3></div>
  </div>
</div>

<!-- FOOTER -->
<div class="footer-example footer-last clearfix">
  <div id="footer" class="footer-thin">
      <div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
          <div class="row">

              <!-- Copyright -->
              <div class="col-md-4">
                <a href="http://www.pb.com" class="pb-footerlogo" target="_blank"></a>&copy;2014 Pitney Bowes Inc. All rights reserved.
              </div>

              <!-- Legal -->
              <div class="col-md-5 text-center">
                <ul class="list-unstyled list-inline legal">
                  <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                  <li><a href="#" target="_blank">Privacy Policy</a></li>
                </ul>
              </div>

              <!-- Social -->
              <div class="col-md-3 text-right xs-text-left">
              
                <ul class="list-unstyled list-inline social">
                  <!-- <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                  <li><a href="#" target="_blank">Privacy Policy</a></li> -->
                  
                  <li>Follow us:</li>
                  <li>
                      <a target="_blank" class="fa-stack twitter" href="https://twitter.com/pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" class="fa-stack facebook" href="http://www.facebook.com/pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" class="fa-stack linkedin" href="http://www.linkedin.com/company/pitney-bowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                      </a>
                  </li>
                  <li>
                    <a target="_blank" class="fa-stack google-plus" href="https://plus.google.com/+pitneybowes">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" class="fa-stack youtube" href="http://www.youtube.com/user/PitneyBowesInc">
                        <i class="fa fa-stop fa-stack-2x"></i>
                        <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                    </a>
                  </li>
                </ul>


              </div>
          </div>
      </div>
  </div>
</div>

