<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}"><div class="row"><div class="col-md-3"><!-- breadcrumb --><ol class="breadcrumb"><li><a href="#/">Home</a></li><li class="active">Kendo UI</li></ol><h1 class="page-header">Kendo UI <span class="more-info"><a href="http://kendo-labs.github.io/angular-kendo/#/" target="_blank">More Info <i class="fa fa-external-link"></i></a></span></h1></div></div><!--
<section class="row">
    <div class="col-md-6">
    <h3 class="sh">Slider</h3>
        <div kendo-slider ng-model="sliderValue" k-tooltip="{ enabled: true }" k-orientation="'horizontal'" k-options="sliderOptions" style="width:500px; margin: 50px;"></div>
    </div>
</section>

<section class="row">
	<div class="col-md-12">
	<h3 class="sh">Draggable Window</h3>
		<button class="k-button" ng-show="!win2visible" ng-click="win2.open()">Open Lorem Ipsum</button>

		<div kendo-window="win2" k-title="'AJAX content'"
		         k-width="600" k-height="200" k-visible="false"
		         k-content="{ url: 'views/loremipsum.html' }"
		         k-on-open="win2visible = true" k-on-close="win2visible = false"></div>
	</div>
</section>

 --><section class="row"><div class="col-md-12"><h3 class="sh">Splitter</h3><div><form class="form-inline" style="margin-bottom:20px"><div class="form-group"><label class="control-label">Orientation:<select kendo-drop-down-list="" k-ng-model="orientation"><option value="horizontal">Horizontal<option value="vertical">Vertical</select></label></div></form><div kendo-splitter="" k-panes="[ null, { contentUrl: 'views/loremipsum.html', collapsible: true }]" k-orientation="orientation" k-rebind="orientation"><div><p>Content on the left.</p><p>On the other side we have remote-loaded content.</p><p>The other pane can also be collapsed by clicking the divider bar.</p></div><div><!-- AJAX content --></div></div></div></div></section><!--

<section class="row">
	<div class="col-md-6">
	<h3 class="sh">Dropdowns</h3>
	<div class="row">
		<div class="col-md-6">
			<fieldset>
			    <legend>Static data</legend>
			    <select kendo-drop-down-list>
			      <option>Albania</option>
			      <option>Andorra</option>
			      <option>Armenia</option>
			      <option>Austria</option>
			      <option>Azerbaijan</option>
			      <option>Belarus</option>
			      <option>Belgium</option>
			      <option>Bosnia & Herzegovina</option>
			      <option>Bulgaria</option>
			      <option>Croatia</option>
			      <option>Cyprus</option>
			      <option>Czech Republic</option>
			      <option>Denmark</option>
			      <option>Estonia</option>
			      <option>Finland</option>
			      <option>France</option>
			      <option>Georgia</option>
			      <option>Germany</option>
			      <option>Greece</option>
			      <option>Hungary</option>
			      <option>Iceland</option>
			      <option>Ireland</option>
			      <option>Italy</option>
			      <option>Kosovo</option>
			      <option>Latvia</option>
			      <option>Liechtenstein</option>
			      <option>Lithuania</option>
			      <option>Luxembourg</option>
			      <option>Macedonia</option>
			      <option>Malta</option>
			      <option>Moldova</option>
			      <option>Monaco</option>
			      <option>Montenegro</option>
			      <option>Netherlands</option>
			      <option>Norway</option>
			      <option>Poland</option>
			      <option>Portugal</option>
			      <option>Romania</option>
			      <option>Russia</option>
			      <option>San Marino</option>
			      <option>Serbia</option>
			      <option>Slovakia</option>
			      <option>Slovenia</option>
			      <option>Spain</option>
			      <option>Sweden</option>
			      <option>Switzerland</option>
			      <option>Turkey</option>
			      <option>Ukraine</option>
			      <option>United Kingdom</option>
			      <option>Vatican City</option>
			    </select>
			  </fieldset>
		</div>
		<div class="col-md-6">
				  <fieldset>
				    <legend>Remote data</legend>
				    <select kendo-drop-down-list
			            k-data-text-field="'ProductName'"
			            k-data-value-field="'ProductID'"
			            k-data-source="productsDataSource"></select>
				  </fieldset>
		</div>
	</div>



	</div>
	<div class="col-md-6">
		<h3 class="sh">Progress bar</h3>
		<p>{{status}}</p>
		<div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress"></div>
	</div>
</section>




<section class="row">
	<div class="col-md-12">
	<h3 class="sh">Multi-select with Tokenizer</h3>
		<select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds"></select>
		  <p ng-show="selectedIds.length">Selected: {{ selectedIds }}</p>
	</div>
</section>

<section class="row">
	<div class="col-md-6">

	</div>
</section>

<section class="row">
	<div class="col-md-6">
	<h3 class="sh">Transitory Notifications</h3>
		<div id="container" style="width: 200px; float: right; height: 200px; padding: 5px; border: 1px solid #aaa;"></div>
		  <span kendo-notification="notf1"></span>
		  <span kendo-notification="notf2" k-append-to="'#container'"></span>
		  <button class="btn btn-default" ng-click="notf1.show('This is a notice', 'error')">Popup bottom-right</button>
		  <button class="btn btn-default" ng-click="showInContainer()">Show in container</button>
		  <button class="btn btn-default" ng-click="dismissAll()">Dismiss all</button>
	</div>
</section>

 --></div>