
//
// Load core variables and mixins
// --------------------------------------------------

@import 'variables';
@import 'mixins';
@import 'pbfont';
@import 'typography';
@import 'elements/manifest';
@import 'components/manifest';


.container-fluid {
  padding-left : 40px;
  padding-right: 40px;
  margin-left  : auto;
  margin-right : auto;
}
