<div class="row">
    <div class="col-md-12">
        <h1>Other</h1>
    </div>
</div>
<div class="isotope">

    <div id="posts" class="row">
        <div id="1" class="item col-md-3">
            <div class="well">
                <h4>Bootstrap</h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/180">
                <div class="info">
                    <span class="badge">90</span>
                    <span class="badge">42</span>

                </div>
            </div>
        </div>
        <div id="2" class="item col-md-3">
            <div class="well">
                <h4>Isotope</h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/400/nature">
                <div class="info">
                    <span class="badge">100</span>
                    <span class="badge">45</span>

                </div>
            </div>
        </div>
        <div id="3" class="item col-md-3">
            <div class="well">
                <h4>
                    Layout
                </h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/300/people/1">
                <div class="info">
                    <span class="badge">100</span>
                    <span class="badge">45</span>

                </div>
            </div>
        </div>
        <div id="4" class="item col-md-3">
            <div class="well">
                <h4>
                    Responsive
                </h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/400/technics">
                <div class="info">
                    <span class="badge">100</span>
                    <span class="badge">45</span>

                </div>
            </div>
        </div>
        <div id="5" class="item col-md-3">
            <div class="well">
                <h4>
                    Sleek
                </h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/400/transport/1">
                <div class="info">
                    <span class="badge">100</span>
                    <span class="badge">45</span>

                </div>
            </div>
        </div>
        <div id="6" class="item col-md-3">
            <div class="well">
                <h4>
                    Mobilicious
                </h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/400/sports">
                <div class="info">
                    <span class="badge">100</span>
                    <span class="badge">52</span>

                </div>
            </div>
        </div>
        <div id="7" class="item col-md-3">
            <div class="well">
                <h4>
                    Geekness
                </h4>

                <img class="thumbnail img-responsive" src="//lorempixel.com/300/400/business/1">
                <div class="info">
                    <span class="badge">88</span>
                    <span class="badge">15</span>

                </div>
            </div>
        </div>
        <div id="8" class="item col-md-3">
            <div class="well">
                <h4>Sneaky Kitten</h4>

                <img class="thumbnail img-responsive" src="//placekitten.com/300/400" title="Can you believe it??">
                <div class="info">
                    <span class="badge">400</span>
                    <span class="badge">46</span>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
$.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js', function() {

    /* activate jquery isotope */
    $('#posts').imagesLoaded(function() {
        $('#posts').isotope({
            itemSelector: '.item'
        });
    });

});
</script>
