<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
<div class="row">
	<div class="col-md-12">
		<h1  class="page-header">Accordions</h1>
	</div>
</div>
	<div class="row">
		<div class="col-md-6">

<!--
		<div class="row">
			<div class="col-md-12">
			<h3 class="sh">Angular Accordion</h3>
				<div ng-controller="AccordionDemoCtrl">
					<div accordion close-others="oneAtATime">
						<div accordion-group heading="Static Header, initially expanded" is-open="true">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aspernatur consequuntur sed pariatur laborum officiis asperiores repellat velit, omnis. Voluptate, illum animi? Veniam odit nemo repudiandae id blanditiis similique ullam consequuntur harum aut possimus deserunt sit odio sapiente, dolorum dolor!
						</div>
						<div accordion-group heading="{{group.title}}" ng-repeat="group in groups">
							{{group.content}}
						</div>
						<div accordion-group heading="Dynamic Body Content">
							<p>The body of the accordion group grows to fit the contents</p>
								<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
								<div ng-repeat="item in items">{{item}}</div>
						</div>
					</div>
					<div class="checkbox">
						<input type="checkbox" ng-model="oneAtATime"> <label class="checkbox">Open only one at a time</label>
					</div>
				</div>
			</div>
		</div>

 -->







			<div class="row">
				<div class="col-md-12">
				<h3 class="sh">Accordion</h3>


						<div class="panel-group accordion-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						          Collapsible Group Item #1
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
						          Collapsible Group Item #2
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
						          Collapsible Group Item #3
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						</div>


				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
				<h3 class="sh">Compact Accordion</h3>
					<div class="panel-group accordion-group compact" id="accordion2">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2">
					          Collapsible Group Item #1
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne2" class="panel-collapse collapse in">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2">
					          Collapsible Group Item #2
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo2" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2">
					          Collapsible Group Item #3
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree2" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">

			<div class="row">
					<div class="col-md-12">
						<h4 data-toggle="collapse" data-target="#demo" class="collapse-button" collapse>
							A Simple collapsible DIV
						</h4>
						<div id="demo" class="collapse">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, magni, a. Ducimus dolor asperiores omnis, animi sunt corporis neque dicta esse voluptas, vitae repudiandae eos nobis ullam laudantium hic labore eaque perferendis, reprehenderit maxime in, beatae natus. Molestiae inventore, dolorum ipsa, earum voluptate tempora. Facere veritatis esse suscipit recusandae possimus tempore quidem maxime accusamus ex in. Perspiciatis dolores dignissimos dolorem! Repellat totam consectetur, dolore mollitia officia nulla, atque odit asperiores minus voluptatum, iste qui laborum dolor in illo earum eligendi.
						</div>
					</div>
				</div>

		</div>





	</div><!-- /row -->





	</div><!-- /container -->


<script>
	$(function() {
	   $('h4.panel-title').each(function() {
	   		// check all headers to see if they have open children
	   		var isOpen = $(this).closest('.panel').find('.panel-collapse').hasClass('in');
	   		// and, if yes, set the class to "open"
	   		if (isOpen) {
	   			$(this).addClass('open');
	   		}
	   });
	   $('h4.panel-title').on('click', function(event) {
	   		$(this).closest('.accordion-group').find('h4.panel-title').removeClass('open');
	   		$(this).toggleClass('open');
	   });
	 });


</script>