<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">


  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Data Grid</li>
  </ol>
  <!-- title -->
  <h1 class="page-header">Data Grid</h1>

  <!-- table -->



  <!-- table controls -->
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <ul class="list-unstyled list-inline pull-left">
            <li><button class="btn btn-default btn-xs" ng-disabled="itemSelected.showAdd" tooltip-placement="bottom" tooltip="Add Record" tooltip-popup-delay="500"><i class="fa fa-fw fa-plus"></i></button></li>
            <li><button class="btn btn-default btn-xs" ng-disabled="itemSelected.showEdit" tooltip-placement="bottom" tooltip="Edit Record" tooltip-popup-delay="500"><i class="fa fa-fw fa-pencil"></i></button></li>
            <li><button class="btn btn-default btn-xs" ng-disabled="itemSelected.showDelete" tooltip-placement="bottom" tooltip="{{itemSelected.deleteTooltip}}" tooltip-popup-delay="500"><i class="fa fa-fw fa-trash-o"></i></button></li>
          </ul>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12 text-right">
          <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-3">
              <select class="form-control input-sm" ng-model="pricingLengthSelected" ng-options="l for l in pricingLength" ng-change="pricingLengthChange()"></select>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-9">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">From</span>
                <input type="text" class="form-control" datepicker-popup="MM-dd-yyyy" ng-model="search.dateStart" is-open="startOpened" show-weeks="false" show-button-bar="false" placeholder="Date"/>
              </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-9 col-xs-offset-3 col-md-offset-0 col-sm-offset-0">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">To</span>
                <input type="text" class="form-control" datepicker-popup="MM-dd-yyyy" ng-model="search.dateEnd" is-open="endOpened" show-weeks="false" show-button-bar="false" placeholder="Date"/>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="tablesearch" placeholder="Filter" />
                <span class="input-group-addon"><i class="fa fa-filter"></i></span>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="table-responsive">
        <table class="table table-hover"  ng-class="{'table-striped': (pricingdata.length > 10)}">
          <thead>
            <tr>
              <th><input type="checkbox" ng-model="selectAll" ng-change="selectAllHandler($event)" /></th>
              <th>#</th>
              <th>Company</th>
              <th>First name</th>
              <th>Last name</th>
              <th>User name</th>
              <th class="text-right">Total ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'warning': p.selected}" ng-repeat="p in pricingdata | filter:tablesearch" ng-click="selectRow($index,p)">
              <td><input type="checkbox" ng-model="p.selected" ng-disabled="selectAll" ng-change="itemHandler(pricingdata)" ng-checked="selectAll" value="{{p.id}}" ng-click="$event.stopPropagation()" /></td>
              <td>{{p.id}}</td>
              <td>{{p.company}}</td>
              <td>{{p.employee.firstname}}</td>
              <td>{{p.employee.lastname}}</td>
              <td><a href="">{{p.employee.email}}</a></td>

              <td class="text-right">{{total($index) | number:2}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled list-inline">
            <li>Showing {{(pricingdata | filter:tablesearch).length}} of {{pricingdata.length}} records</li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <ul class="pagination pagination-sm">
            <li class="disabled"><a>&laquo;</a></li>
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a>&raquo;</a></li>
            </ul>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-md-12">
        <h4>Angular-UI Pagination</h4>
         <pagination boundary-links="true" total-items="totalItems" page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
          <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
        </div>
      </div> -->

    </div>

  </div>






</div>
