
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">

	<div class="row">
		<!-- title -->
		<div class="col-md-12">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="#/">Home</a></li>
				<li class="active">Faceted Search</li>
			</ol>
			<h1 class="page-header">Faceted Search</h1>
		</div>
	</div>

	<div class="row">

		<!-- left column -->
		<div class="col-md-2 col-sm-2">

			<a href="" ng-click="facet.clearAll()" ng-show="facet.clearSearch()">Clear All</a>

			<div accordion close-others="false">
				<div accordion-group is-open="isopen.type" ng-init="isopen.type=true">
					<div accordion-heading>
						Type <i class="pull-right fa" ng-class="{'fa-chevron-right': !isopen.type, 'fa-chevron-down': isopen.type }"></i>
					</div>
					<ul class="list-unstyled">
						<li>
							<div class="checkbox">
							<label for="hardware"><input id="hardware" type="checkbox" name="hardware" ng-model="search.hardware" ng-false-value="" />Hardware <span class="badge">{{products | count: 'hardware'}}</span></label>
							</div>
						</li>
						<li>
							<div class="checkbox">
								<label for="software"><input id="software" type="checkbox" name="software" ng-model="search.software" ng-false-value="" />Software <span class="badge">{{products | count: 'software'}}</span></label>
							</div>
						</li>
					</ul>
				</div>

				<div accordion-group is-open="isopen.stock" ng-init="isopen.stock = true">
					<div accordion-heading>
						In Stock <i class="pull-right fa" ng-class="{'fa-chevron-right': !isopen.stock, 'fa-chevron-down': isopen.stock }"></i>
					</div>
					<select class="form-control">
						<option value="available">Available</option>
					</select>
				</div>
			</div>

			<!-- <pre>{{search | json}}</pre> -->

		</div>

		<!-- right column -->
		<div class="col-md-10 col-sm-10">

			<div class="row">

				<form class="form-inline">

					<div class="col-xs-3">
						<div class="form-group">
							<label>Sort by:</label>
							<select class="form-control">
								<option value="">Low to High</option>
								<option value="">High to Low</option>
							</select>
						</div>

					</div>

					<div class="col-xs-3 text-center">
						<div class="form-group">
							<label class="control-label form-control-static">Showing 25 of 100 items</label>
						</div>
					</div>

					<div class="col-xs-6 text-right">
					<div class="form-group">
						<label>View: </label>
						<select name="" id="" class="form-control input-sm">
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>

					<div class="form-group">
					<div class="input-group" style="width: 200px;">
						<span class="input-group-addon"><i class="fa fa-filter"></i></span>
						<input class="form-control" type="text" ng-model="search.name" />
					</div>
					</div>

					<div class="btn-group btn-group-sm">
						<button class="btn btn-default" ng-click="layout = 'list'"><i class="fa fa-bars fa-fw"></i></button>
						<button class="btn btn-default" ng-click="layout = 'thumbnail'"><i class="fa fa-th fa-fw"></i></button>
					</div>
				</div>

			</form>
			</div>

			<!-- layouts -->
			<div ng-switch on="layout">
				<!-- list view -->
				<div ng-switch-when="list">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Hardware</th>
								<th>Software</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in products | filter: search ">
								<td>{{p.name}}</td>
								<td>{{p.hardware}}</td>
								<td>{{p.software}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- grid view -->
				<div ng-switch-when="thumbnail">
					<div class="col-md-2" ng-repeat="p in products | filter: search">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/200x200" />
							<p>{{p.name}}</p>
						</div>
					</div>
				</div>

			</div>

			<!-- paging -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<ul class="pagination pagination-sm">
						<li class="disabled"><a>&laquo;</a></li>
						<li class="active"><a>1</a></li>
						<li><a>2</a></li>
						<li><a>3</a></li>
						<li><a>4</a></li>
						<li><a>5</a></li>
						<li><a>&raquo;</a></li>
					</ul>
				</div>
			</div>
	</div>

</div>

</div> <!-- /container -->