<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">

	<div class="row page-header">
		<div class="col-md-12">
			<h1>Dashboard</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12"><h3 class="sh">Activity</h3></div>
	</div>


	<div class="row">
		<div class="col-md-10">
			<div dataset="flot.series" options="flot.options" width="100%" height="400" flot></div>
		</div>
		<div class="col-sm-12 col-md-2 text-center">

			 <div class="row">
				<div class="col-sm-2 col-sm-offset-3 col-xs-6 col-md-12 col-md-offset-0">
					<h4 class="text-center">Statistic</h4>
					<div class="piechart" ng-model="sample">
						<div easypiechart options="sample.options" percent="sample.percent"></div>
						<span>{{sample.percent}}%</span>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6 col-md-12">
					<h4 class="text-center">Statistic</h4>
					<div class="piechart" ng-model="sample2">
						<div easypiechart options="sample2.options" percent="sample2.percent"></div>
						<span>{{sample2.percent}}%</span>
					</div>
				</div>
			 </div>

			 <div class="row">
				 	<div class="col-md-12">
					 	<label for="live-switch"><!-- <i class="fa fa-clock-o"></i> -->Realtime Updates&nbsp;&nbsp;<input type="checkbox" name="live-switch" id="live-switch" ng-model="switchStatus.isOn"></label>
				 	</div>
			 </div>

		</div>
	</div>


	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">
		<div class="col-md-3 col-sm-4 col-xs-4 sparkline">
			<div class="chart" jq-sparkline ng-model="sparkline" data="sparkline.data" options="sparkline.options" ></div>
			<div class="caption">
				<h6>Statistic</h6>
				<h2>{{sparkline.data[0]}}%</h2>
			</div>
		</div>

		<div class="col-md-3 col-sm-4 col-xs-4 sparkline">
			<div class="chart" jq-sparkline data="sparkline3.data" options="sparkline3.options" ></div>
			<div class="caption">
				<h6>Statistic</h6>
				<h2>{{sparkline3.data[0]}}%</h2>
			</div>
		</div>


		<div class="col-md-3 col-sm-4 col-xs-4 sparkline">
			<div class="chart" jq-sparkline data="sparkline2.data" options="sparkline2.options" ></div>
			<div class="caption">
				<h6>Statistic</h6>
				<h2>{{sparkline2.data[2]}}%</h2>
			</div>
		</div>

		<div class="col-md-3 col-sm-4 col-xs-4 sparkline">
			<div class="chart" jq-sparkline data="sparkline4.data" options="sparkline4.options" ></div>
			<div class="caption">
				<h6>Median</h6>
				<h2>{{sparkline4.data[3]}}</h2>
			</div>
		</div>
	</div>





	<div class="row">
	<div class="col-md-8">
		<h3 class="sh">The Team</h3>
		<div class="table-responsive">
		<table class="table table-hover table-striped table-condensed">
			<thead>
			<tr>
				<th>Photo</th>
				<th>Number</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>User ID</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="t in tabledata">
				<td><img class="img-responsive" ng-src="images/{{t.image}}" alt="" /></td>
				<td>00{{t.id}}</td>
				<td>{{t.firstName}}</td>
				<td>{{t.lastName}}</td>
				<td ng-bind-html="t.address"></td>
				<td><a href="">{{t.userName}}</a></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>



	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
					Team Leaders
				  </div>

					<table class="table table-hover">
					<thead>
					<tr>
						<th>User ID</th>
						<th>Last Name</th>
					</tr>
					</thead>
					 <tbody>
						<tr ng-repeat="t in tabledata">
						 <td>{{t.userName}}</td>
						 <td>{{t.lastName}}</td>
					 </tr>

					 </tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			<h3 class="sh">Team Notes</h3>
				<div class="panel-group accordion-group compact" id="accordion2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2">
									Collapsible Group Item #1
								</a>
							</h4>
						</div>
						<div id="collapseOne2" class="panel-collapse collapse">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi sunt quibusdam obcaecati eveniet reiciendis facilis libero voluptatem distinctio vitae delectus suscipit odit quo sit unde nesciunt veritatis eligendi, dolorum, earum quas numquam exercitationem accusamus, expedita atque! Nesciunt expedita enim ad accusantium?
							</div>
						</div>
					</div>
					<div class="panel panel-default active">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2">
									Collapsible Group Item #2
								</a>
							</h4>
						</div>
						<div id="collapseTwo2" class="panel-collapse collapse in">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quibusdam doloremque, autem, ex suscipit quas harum ipsa, dicta fuga eos obcaecati maxime adipisci magnam qui ratione blanditiis id commodi dignissimos? Quae quidem impedit iste commodi accusamus tempora at quos, labore!
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2">
									Collapsible Group Item #3
								</a>
							</h4>
						</div>
						<div id="collapseThree2" class="panel-collapse collapse">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus laudantium voluptatum similique voluptate cumque eos unde, asperiores accusantium, nisi dolorem ipsam distinctio dignissimos, adipisci exercitationem odit omnis aliquam optio. Accusamus asperiores libero quaerat, optio, laboriosam saepe numquam eveniet ipsam. Esse, excepturi, nostrum. Ad quas tempora fugit, dolores quae voluptatum.
							</div>
						</div>
					</div>
				</div><!-- /accordion -->
			</div>
		</div>
	</div>
	</div><!-- /row -->



<!-- scrolling panels-->
	<div class="row">

	<!-- scrolling panel: horizontal-->
	<div class="col-md-6">

		<h3 class="sh">Carousel</h3>
		<div carousel interval="3000">
		<div slide>
			<img src="images/carousel2.jpg" alt="" />
			<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</div>

		<div slide>
			<img src="images/carousel1.jpg" alt="" />
			<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</div>

		<div slide>
			<img src="images/carousel4.jpg" alt="" />
			<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</div>

		</div>


		<h3 class="sh">Sample Form</h3>

		<div class="" ng-form name="name" novalidate>
			<h4>Titled Section</h4>

			<div class="form-group" ng-class="{'has-error': name.firstName.$error.required && name.firstName.$dirty}">
			<label for="firstname">First Name <i class="fa fa-question-circle" tooltip="Please enter your first name" tooltip-trigger="click" tooltip-placement="right"></i></label>
			<input type="text" name="firstName" class="form-control" ng-model="firstName" required />
			<span class="help-block" ng-show="name.firstName.$error.required && name.firstName.$dirty">Please enter a first name</span>
			</div>

			<div class="form-group" ng-class="{'has-error': name.lastName.$error.required && name.lastName.$dirty}">
			<label for="lastname">Last Name <i class="fa fa-question-circle" tooltip="Please enter your last name" tooltip-trigger="click"></i></label>
			<input type="text" name="lastName" class="form-control" ng-model="lastName" required />
			<span class="help-block" ng-show="name.lastName.$error.required && name.lastName.$dirty">Please enter a last name</span>
			</div>

			<a class="btn btn-default" ng-click="nameValidate()">Submit</a><a href="#" class="btn btn-link">Reset</a>

		</div>

	</div><!-- /col-md-6 -->

	<div class="col-md-6">

		<h3 class="sh">Tabset</h3>

		<ul class="nav nav-tabs">
	      <li class="active"><a data-target="#home" data-toggle="tab">Media</a></li>
	      <li class=""><a data-target="#profile" data-toggle="tab">Notes</a></li>
	    </ul>
	    <div class="tab-content">

	      <div class="tab-pane fade active in" id="home">
	      	<div class="media" ng-repeat="i in [1,2,3]" ng-class="{first:$first}">
	      		<a class="pull-left" href="#">
	      		<img class="media-object" data-src="holder.js/80x80" alt="80x80" src="http://placehold.it/80" style="width: 80px;height: 80px;">
	      		</a>
	      		<div class="media-body">
	      			<h4 class="media-heading">Media heading</h4>
	      			<p>Cras sit amet nibh libero, in gravida nulla. Nullam vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputaunc ac nisi vulputate fringilla. </p>
	      		</div>
	      	</div>
	      </div><!-- /tab 1 -->

	      <div class="tab-pane fade" id="profile">
	      	<h5>Heading 5</h5>
	      	<p>Nam interdum augue arcu, non dapibus odio interdum non. Aliquam ligula neque, scelerisque eget tempus et, vulputate semper arcu. Quisque eu dignissim ligula. Integer rutrum rhoncus dui a aliquam. Quisque venenatis ornare nibh, quis consequat nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sit amet sodales tortor. Aenean vitae eros quis est molestie rhoncus. Fusce auctor feugiat orci, quis lacinia metus sagittis sed. Morbi mollis quam nisl, et iaculis leo aliquam ut.</p>
	      	<div class="callout callout-info">
	      		<h4>An Info Type Callout</h4>
	      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus adipisci, doloremque earum magnam eligendi cumque iste pariatur sapiente aliquam quod.</p>
	      	</div>

	      </div><!-- /tab 2 -->

	    </div><!-- /tab-content -->

	</div><!-- /col-md-6 -->

	</div><!-- /row -->




	</div><!-- /container -->

	<div id="myModal" class="modal fade">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
		<p>Sample modal dialog&hellip;</p>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
		</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




