<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">

<div class="row">
	<div class="col-md-12">
		<!-- breadcrumb -->
		<ol class="breadcrumb">
		  <li><a href="#/">Home</a></li>
		  <li class="active">Panels</li>
		</ol>

		<h1 class="page-header">Panels</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3 class="sh">Basic panel options</h3>
	</div>
</div>
<section class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Default panel, no header or footer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quis impedit molestiae tempore aliquid sed corporis provident earum iusto qui.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">Panel heading</div>
		  <div class="panel-body">
			Panel with a Panel Heading.  Headings can also be Panel Titles or Links. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit consequatur beatae, quae odio vero, sint, quod voluptas aut repudiandae itaque in animi velit tempore cumque! Tenetur temporibus fugiat placeat magni ab, eveniet ea excepturi quae commodi! Excepturi, ipsa quod.
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
			Panel with a panel footer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis numquam, quos quo tempore eius consectetur sit odio quasi iste laudantium, distinctio aspernatur ipsum deleniti blanditiis consequatur omnis fugit id culpa. Modi, laboriosam, porro.
		  </div>
		  <div class="panel-footer text-right"><a href="#">For more info</a></div>
		</div>
	</div>
</section>

<div class="row">
	<div class="col-md-12">
		<h3 class="sh">Miller columns</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="callout callout-info">
	   <p class="help-text"><strong>Note:</strong> Desktop and tablet only, height of panel-group must be set.</p>

	   <form class="form-inline" name="panel" no-validate>
			<div class="form-group" ng-class="{'has-error': panel.height.$error.min || panel.height.$error.max}" >
				<span>Change height:&nbsp;</span>
				<input class="form-control" name="height" style="display: inline-block; width: 70px;" type="number" min="150" max="400" step="25" ng-model="panelHeight" ng-init="panelHeight=200"  />
				<span ng-show="panel.height.$error.min">&nbsp;Height must be a minimum of 150.</span>
				<span ng-show="panel.height.$error.max">&nbsp;Height must be a maximum of 400.</span>
			</div>
		</form>
	</div>
	</div>
</div>

<!-- miller columns with spectrum data -->
<section class="row miller-columns" ng-style="{height:panelHeight}">

  <!-- top level -->
  <div class="col-md-4 first-column">

    <div class="panel panel-default">
      <div class="list-group">
        <a href="" class="list-group-item" ng-class="{active: $index === millercolumn.dataSelected}" ng-click="getSublevel1($index)" ng-repeat="d in millercolumn.data">
          {{d.name}} <i class="pull-right fa fa-angle-right fa-lg"></i>
        </a>
      </div>
    </div>

  </div>

  <!-- level1 -->
    <div class="col-md-3 inner-column">
      <div class="panel panel-default">
        <div class="list-group">
          <a href="" class="list-group-item" ng-class="{active: $index === millercolumn.level1Selected && l.versionInfos.length > 0}" ng-click="getSublevel2($index)" ng-repeat="l in millercolumn.level1">
            {{l.name}}
						<i class="pull-right fa fa-fw fa-angle-right fa-lg"></i> <span class="badge" >{{l.versionInfos.length}}</span></a>
          </a>
        </div>
      </div>
    </div>

  <!-- level 2 -->
  <div class="col-md-5 last-column">
    <div class="panel panel-default">

      <ul class="list-group list-group-details">
        <li ng-repeat="l in millercolumn.level2" class="list-group-item">

          <div class="form-horizontal">

						<h4 class="text-primary">{{l.name}}</h4>

            <div ng-show="l.version" class="form-group">
              <label class="col-md-4 control-label"><strong>Version</strong></label>
              <p class="col-md-8 form-control-static">{{l.version}}</p>
            </div>

            <!-- attributes -->
            <div ng-repeat="a in l.attributes">
              <div class="form-group">
                <label class="col-md-4 control-label"><strong>{{a.label}}</strong></label>
                <p class="col-md-8 form-control-static">{{a.value}}</p>
              </div>
            </div>

          </div>

        </li>
      </ul>

    </div>
  </div>

</section>






<div class="row">
	<div class="col-md-12">
		<h3 class="sh">Panel with tables and list groups</h3>
	</div>
</div>
<section class="row">
	<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
				Panel heading
			  </div>
			  <table class="table">
				<thead>
				  <tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="p in peopleData">
					<td>00{{p.id}}</td>
					<td>{{p.firstName}}</td>
					<td>{{p.lastName}}</td>
					<td><a href="">{{p.userName}}</a></td>
				  </tr>
				</tbody>
			  </table>

			</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Panel heading</div>
		  <div class="panel-body">
			A lead-in block of text that goes in the panel body before the list begins.
		  </div>

		  <!-- List group -->
		  <ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
	</div>
</section>

<div class="row">
	<div class="col-md-12">
		<h3 class="sh">Drag and drop collapsible panels
		<span class="more-info"><a href="http://webdeveloperplus.com/jquery/collpasible-drag-drop-panels/">More Info  <i class="fa fa-external-link"></i></a></span>
		</h3>
	</div>
</div>
<section class="row" ng-model="draggable" pb-panel-draggable>
	<!-- assign class "column" to any columns you want included in drag-n-drop -->
	<div class="col-md-3 column">
		<div class="panel panel-default">
		<div class="panel-heading">Panel one <span pb-panel-collapsible ></span></div>
		  <div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis nam similique.
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">Panel two <span pb-panel-collapsible ></span></div>
		  <div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis possimus modi id eligendi quae quas eum nisi, provident!
		  </div>
		</div>

	</div>
	<div class="col-md-3 column">
		<div class="panel panel-default">
		  <div class="panel-heading">Panel three <span pb-panel-collapsible ></span></div>
		  <div class="panel-body">
		   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nostrum recusandae rerum animi nisi facilis provident, iste modi earum, esse praesentium, amet.
		  </div>
		</div>
	</div>

	<div class="col-md-6 column">

		<div class="panel panel-default">
		  <div class="panel-heading">Panel four <span pb-panel-collapsible ></span></div>
		  <div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, numquam.
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">Panel five <span pb-panel-collapsible ></span></div>
		  <div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem molestias sequi nam est. Libero, officiis alias neque quisquam aliquam perferendis quaerat dignissimos sint, incidunt sit!
		  </div>
		</div>
	</div>
</section>


</div>
