<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">
  <div class="row">
    <div class="col-md-12">
      <h1  class="page-header">Tabs</h1>
    </div>
  </div>
  <div class="row">


    <div class="col-md-6">

        <section class="row">
          <div class="col-md-12">
            <h3 class="sh">Standard tabs</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
              <li><a data-target="#profile" data-toggle="tab">Profile</a></li>
              <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
              <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="home">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
              <div class="tab-pane fade" id="profile">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
              <div class="tab-pane fade" id="messages">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
              <div class="tab-pane fade" id="settings">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-md-12">
            <h3 class="sh">Vertical tabs</h3>
          </div>
        </div>

        <section class="row">
         <div class="col-md-3 col-sm-4">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left">
                <li class="active"><a data-target="#homeV" data-toggle="tab">Home</a></li>
                <li><a data-target="#profileV" data-toggle="tab">Profile</a></li>
                <li><a data-target="#messagesV" data-toggle="tab">Messages</a></li>
                <li><a data-target="#settingsV" data-toggle="tab">Settings</a></li>
              </ul>
          </div>

        <div class="col-md-9 col-sm-8">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="homeV">Home Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nam at, praesentium molestias voluptate voluptatum. Possimus nesciunt expedita, quia veritatis!</div>
                <div class="tab-pane fade" id="profileV">Profile Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quae error officia?</div>
                <div class="tab-pane fade" id="messagesV">Messages Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quibusdam officiis! Suscipit repudiandae animi rem libero odit cumque harum, eum laborum minus mollitia nesciunt deserunt incidunt dolores. Perspiciatis, facere quaerat.</div>
                <div class="tab-pane fade" id="settingsV">Settings Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem, harum ex sed tempore reiciendis culpa dolores maxime.</div>
              </div>
          </div>
        </section>



    </div><!-- /left -->



      <div class="col-md-6">

      <section class="row">
        <div class="col-md-12">
          <h3 class="sh">&ldquo;Pill&rdquo; tabs</h3>
          <!-- Nav tabs -->
          <ul class="nav nav-pills">
            <li class="active"><a data-target="#home2" data-toggle="tab">Home</a></li>
            <li><a data-target="#profile2" data-toggle="tab">Profile</a></li>
            <li><a data-target="#messages2" data-toggle="tab">Messages</a></li>
            <li><a data-target="#settings2" data-toggle="tab">Settings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home2">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
            <div class="tab-pane fade" id="profile2">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
            <div class="tab-pane fade" id="messages2">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
            <div class="tab-pane fade" id="settings2">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
          </div>
        </div>
      </section>



      <section class="row">
        <div class="col-md-12">
          <h3 class="sh">Tabs bordered</h3>
          <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a data-target="#home3" data-toggle="tab">Home</a></li>
              <li><a data-target="#profile3" data-toggle="tab">Profile</a></li>
              <li><a data-target="#messages3" data-toggle="tab">Messages</a></li>
              <li><a data-target="#settings3" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tab-content-bordered">
              <div class="tab-pane fade in active" id="home3">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
              <div class="tab-pane fade" id="profile3">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
              <div class="tab-pane fade" id="messages3">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
              <div class="tab-pane fade" id="settings3">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
            </div>
        </div>
      </section>


<!--       <div class="row">
        <div class="col-md-12">
          <h3 class="sh">Vertical "Pill" Tabs</h3>
        </div>
      </div>

      <section class="row">
        <div class="col-md-3 col-sm-4">
            <ul class="nav nav-pills tabs-left">
              <li class="active"><a data-target="#homeV2" data-toggle="tab">Home</a></li>
              <li><a data-target="#profileV2" data-toggle="tab">Profile</a></li>
              <li><a data-target="#messagesV2" data-toggle="tab">Messages</a></li>
              <li><a data-target="#settingsV2" data-toggle="tab">Settings</a></li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-8">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="homeV2">Home Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nam at, praesentium molestias voluptate voluptatum. Possimus nesciunt expedita, quia veritatis!</div>
              <div class="tab-pane fade" id="profileV2">Profile Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quae error officia?</div>
              <div class="tab-pane fade" id="messagesV2">Messages Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quibusdam officiis! Suscipit repudiandae animi rem libero odit cumque harum, eum laborum minus mollitia nesciunt deserunt incidunt dolores. Perspiciatis, facere quaerat.</div>
              <div class="tab-pane fade" id="settingsV2">Settings Tab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem, harum ex sed tempore reiciendis culpa dolores maxime.</div>
            </div>
        </div>
      </section> -->






    </div><!-- /right -->








  </div><!-- /row -->





  </div><!-- /container -->
