
<div ng-class="{'container-fluid': settings.isFluid, 'container': !settings.isFluid}">

	<div class="row">
		<!-- title -->
		<div class="col-md-12">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="#/">Home</a></li>
				<li class="active">Gallery</li>
			</ol>
			<h1 class="page-header">Two Panel Selector</h1>
		</div>
	</div>


	<div class="row">

		<!-- left column -->
		<div class="col-md-2 col-sm-2">
				<ul class="nav nav-list tree-menu" pb-tree-nav>
					<li><span class="tree-toggler nav-header">Header 1</span>
						<ul class="nav nav-list tree">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><span class="tree-toggler nav-header">Header 1.1</span>
								<ul class="nav nav-list tree">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
									<li><span class="tree-toggler nav-header">Header 1.1.1</span>
										<ul class="nav nav-list tree">
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><span class="tree-toggler nav-header">Header 2</span>
						<ul class="nav nav-list tree">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><span class="tree-toggler nav-header">Header 2.1</span>
								<ul class="nav nav-list tree">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
									<li><span class="tree-toggler nav-header">Header 2.1.1</span>
										<ul class="nav nav-list tree">
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><span class="tree-toggler nav-header">Header 2.2</span>
								<ul class="nav nav-list tree">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
									<li><span class="tree-toggler nav-header">Header 2.2.1</span>
										<ul class="nav nav-list tree">
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
									</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

		</div><!-- /left -->

		<!-- right column -->
		<div class="col-md-10 col-sm-10">
		<h3 class="sh">Media Components</h3>

			<div class="row">
				<div class="col-sm-6 col-md-6">

					<div class="media" ng-repeat="i in [1,2,3,4,5]">
						<a class="pull-left" href="#"><img class="media-object" ng-src="images/avatar_{{i}}.png" width="80" height="80" alt=""></a>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Providentium vero magni debitis ad explicabo iure libero aliquam dolorum tempore totam a dolores dicta.
						</div>
					</div>

				</div>

				<div class="col-sm-6 col-md-6">

					<div class="media" ng-repeat="i in [6,5,4,3,2,1]">
						<a class="pull-left" href="#"><img class="media-object" ng-src="images/avatar_{{i}}.png" width="80" height="80" alt=""></a>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Providentium vero magni debitis ad explicabo iure libero aliquam dolorum tempore totam a dolores dicta.
						</div>
					</div>

				</div>


			</div>


		</div><!-- /right -->

</div>

</div> <!-- /container -->



